@charset "UTF-8";
.item-center {
  align-items: center; }

.item-start {
  align-items: flex-start; }

.item-end {
  align-items: flex-end; }

.border-box {
  box-sizing: border-box; }

.block {
  display: block; }

.hide {
  display: none; }

.inline {
  display: inline; }
  .inline-block {
    display: inline-block; }

.fixed {
  position: fixed;
  z-index: 99; }
  .fixed.bottom {
    left: 0;
    right: 0;
    bottom: 0; }
  .fixed.top {
    left: 0;
    right: 0;
    top: 0; }

.flex {
  display: flex; }
  .flex_1 {
    flex: 1; }
  .flex_2 {
    flex: 2; }
  .flex_3 {
    flex: 3; }
  .flex_4 {
    flex: 4; }
  .flex-direction-column {
    flex-direction: column; }
  .flex.row {
    flex-direction: row; }
  .flex.row-reverse {
    flex-direction: row-reverse; }
  .flex.column {
    flex-direction: column; }
  .flex.column-reverse {
    flex-direction: column-reverse; }

.fl {
  float: left; }

.fr {
  float: right; }

.ft_0 {
  font-size: 0 !important; }

.ft_11 {
  font-size: 11px !important;
  /*px*/ }

.ft_12 {
  font-size: 12px !important;
  /*px*/ }

.ft_13 {
  font-size: 13px !important;
  /*px*/ }

.ft_14 {
  font-size: 14px !important;
  /*px*/ }

.ft_15 {
  font-size: 15px !important;
  /*px*/ }

.ft_16 {
  font-size: 16px !important;
  /*px*/ }

.ft_17 {
  font-size: 17px !important;
  /*px*/ }

.ft_18 {
  font-size: 18px !important;
  /*px*/ }

.ft_19 {
  font-size: 19px !important;
  /*px*/ }

.ft_20 {
  font-size: 20px !important;
  /*px*/ }

.ft_21 {
  font-size: 21px !important;
  /*px*/ }

.ft_22 {
  font-size: 22px !important;
  /*px*/ }

.ft_23 {
  font-size: 23px !important;
  /*px*/ }

.ft_24 {
  font-size: 24px !important;
  /*px*/ }

.ft_25 {
  font-size: 25px !important;
  /*px*/ }

.ft_26 {
  font-size: 26px !important;
  /*px*/ }

.ft_27 {
  font-size: 27px !important;
  /*px*/ }

.ft_28 {
  font-size: 28px !important;
  /*px*/ }

.ft_29 {
  font-size: 29px !important;
  /*px*/ }

.ft_30 {
  font-size: 30px !important;
  /*px*/ }

.ft_31 {
  font-size: 31px !important;
  /*px*/ }

.ft_32 {
  font-size: 32px !important;
  /*px*/ }

.ft_33 {
  font-size: 33px !important;
  /*px*/ }

.ft_34 {
  font-size: 34px !important;
  /*px*/ }

.ft_35 {
  font-size: 35px !important;
  /*px*/ }

.ft_36 {
  font-size: 36px !important;
  /*px*/ }

.ft_37 {
  font-size: 37px !important;
  /*px*/ }

.ft_38 {
  font-size: 38px !important;
  /*px*/ }

.ft_39 {
  font-size: 39px !important;
  /*px*/ }

.ft-noraml {
  font-style: normal !important; }

.ft-family {
  font-family: 'PingFangTC-Regular', PingFangSC-Light, "Microsoft Yahei", "微软雅黑", sans-serif; }

.strong {
  font-weight: bold; }

.h {
  height: 100%; }
  .h-auto {
    height: auto; }
  .h_0 {
    height: 0px;
    /*px*/ }
  .h_1 {
    height: 1px;
    /*px*/ }
  .h_2 {
    height: 2px;
    /*px*/ }
  .h_3 {
    height: 3px;
    /*px*/ }
  .h_4 {
    height: 4px;
    /*px*/ }
  .h_5 {
    height: 5px;
    /*px*/ }
  .h_6 {
    height: 6px;
    /*px*/ }
  .h_7 {
    height: 7px;
    /*px*/ }
  .h_8 {
    height: 8px;
    /*px*/ }
  .h_9 {
    height: 9px;
    /*px*/ }
  .h_10 {
    height: 10px;
    /*px*/ }
  .h_11 {
    height: 11px;
    /*px*/ }
  .h_12 {
    height: 12px;
    /*px*/ }
  .h_13 {
    height: 13px;
    /*px*/ }
  .h_14 {
    height: 14px;
    /*px*/ }
  .h_15 {
    height: 15px;
    /*px*/ }
  .h_16 {
    height: 16px;
    /*px*/ }
  .h_17 {
    height: 17px;
    /*px*/ }
  .h_18 {
    height: 18px;
    /*px*/ }
  .h_19 {
    height: 19px;
    /*px*/ }
  .h_20 {
    height: 20px;
    /*px*/ }
  .h_21 {
    height: 21px;
    /*px*/ }
  .h_22 {
    height: 22px;
    /*px*/ }
  .h_23 {
    height: 23px;
    /*px*/ }
  .h_24 {
    height: 24px;
    /*px*/ }
  .h_25 {
    height: 25px;
    /*px*/ }
  .h_26 {
    height: 26px;
    /*px*/ }
  .h_27 {
    height: 27px;
    /*px*/ }
  .h_28 {
    height: 28px;
    /*px*/ }
  .h_29 {
    height: 29px;
    /*px*/ }
  .h_30 {
    height: 30px;
    /*px*/ }
  .h_31 {
    height: 31px;
    /*px*/ }
  .h_32 {
    height: 32px;
    /*px*/ }
  .h_33 {
    height: 33px;
    /*px*/ }
  .h_34 {
    height: 34px;
    /*px*/ }
  .h_35 {
    height: 35px;
    /*px*/ }
  .h_36 {
    height: 36px;
    /*px*/ }
  .h_37 {
    height: 37px;
    /*px*/ }
  .h_38 {
    height: 38px;
    /*px*/ }
  .h_39 {
    height: 39px;
    /*px*/ }
  .h_40 {
    height: 40px;
    /*px*/ }
  .h_41 {
    height: 41px;
    /*px*/ }
  .h_42 {
    height: 42px;
    /*px*/ }
  .h_43 {
    height: 43px;
    /*px*/ }
  .h_44 {
    height: 44px;
    /*px*/ }
  .h_45 {
    height: 45px;
    /*px*/ }
  .h_46 {
    height: 46px;
    /*px*/ }
  .h_47 {
    height: 47px;
    /*px*/ }
  .h_48 {
    height: 48px;
    /*px*/ }
  .h_49 {
    height: 49px;
    /*px*/ }
  .h_50 {
    height: 50px;
    /*px*/ }
  .h_51 {
    height: 51px;
    /*px*/ }
  .h_52 {
    height: 52px;
    /*px*/ }
  .h_53 {
    height: 53px;
    /*px*/ }
  .h_54 {
    height: 54px;
    /*px*/ }
  .h_55 {
    height: 55px;
    /*px*/ }
  .h_56 {
    height: 56px;
    /*px*/ }
  .h_57 {
    height: 57px;
    /*px*/ }
  .h_58 {
    height: 58px;
    /*px*/ }
  .h_59 {
    height: 59px;
    /*px*/ }
  .h_60 {
    height: 60px;
    /*px*/ }
  .h_61 {
    height: 61px;
    /*px*/ }
  .h_62 {
    height: 62px;
    /*px*/ }
  .h_63 {
    height: 63px;
    /*px*/ }
  .h_64 {
    height: 64px;
    /*px*/ }
  .h_65 {
    height: 65px;
    /*px*/ }
  .h_66 {
    height: 66px;
    /*px*/ }
  .h_67 {
    height: 67px;
    /*px*/ }
  .h_68 {
    height: 68px;
    /*px*/ }
  .h_69 {
    height: 69px;
    /*px*/ }
  .h_70 {
    height: 70px;
    /*px*/ }
  .h_71 {
    height: 71px;
    /*px*/ }
  .h_72 {
    height: 72px;
    /*px*/ }
  .h_73 {
    height: 73px;
    /*px*/ }
  .h_74 {
    height: 74px;
    /*px*/ }
  .h_75 {
    height: 75px;
    /*px*/ }
  .h_76 {
    height: 76px;
    /*px*/ }
  .h_77 {
    height: 77px;
    /*px*/ }
  .h_78 {
    height: 78px;
    /*px*/ }
  .h_79 {
    height: 79px;
    /*px*/ }
  .h_80 {
    height: 80px;
    /*px*/ }
  .h_81 {
    height: 81px;
    /*px*/ }
  .h_82 {
    height: 82px;
    /*px*/ }
  .h_83 {
    height: 83px;
    /*px*/ }
  .h_84 {
    height: 84px;
    /*px*/ }
  .h_85 {
    height: 85px;
    /*px*/ }
  .h_86 {
    height: 86px;
    /*px*/ }
  .h_87 {
    height: 87px;
    /*px*/ }
  .h_88 {
    height: 88px;
    /*px*/ }
  .h_89 {
    height: 89px;
    /*px*/ }
  .h_90 {
    height: 90px;
    /*px*/ }
  .h_91 {
    height: 91px;
    /*px*/ }
  .h_92 {
    height: 92px;
    /*px*/ }
  .h_93 {
    height: 93px;
    /*px*/ }
  .h_94 {
    height: 94px;
    /*px*/ }
  .h_95 {
    height: 95px;
    /*px*/ }
  .h_96 {
    height: 96px;
    /*px*/ }
  .h_97 {
    height: 97px;
    /*px*/ }
  .h_98 {
    height: 98px;
    /*px*/ }
  .h_99 {
    height: 99px;
    /*px*/ }
  .h_100 {
    height: 100px;
    /*px*/ }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.justify-center {
  justify-content: center; }

.left_0 {
  left: 0px;
  /*px*/ }

.left_1 {
  left: 1px;
  /*px*/ }

.left_2 {
  left: 2px;
  /*px*/ }

.left_3 {
  left: 3px;
  /*px*/ }

.left_4 {
  left: 4px;
  /*px*/ }

.left_5 {
  left: 5px;
  /*px*/ }

.left_6 {
  left: 6px;
  /*px*/ }

.left_7 {
  left: 7px;
  /*px*/ }

.left_8 {
  left: 8px;
  /*px*/ }

.left_9 {
  left: 9px;
  /*px*/ }

.left_10 {
  left: 10px;
  /*px*/ }

.left_11 {
  left: 11px;
  /*px*/ }

.left_12 {
  left: 12px;
  /*px*/ }

.left_13 {
  left: 13px;
  /*px*/ }

.left_14 {
  left: 14px;
  /*px*/ }

.left_15 {
  left: 15px;
  /*px*/ }

.left_16 {
  left: 16px;
  /*px*/ }

.left_17 {
  left: 17px;
  /*px*/ }

.left_18 {
  left: 18px;
  /*px*/ }

.left_19 {
  left: 19px;
  /*px*/ }

.left_20 {
  left: 20px;
  /*px*/ }

.l-h_0 {
  line-height: 0px;
  /*px*/ }

.l-h_1 {
  line-height: 1px;
  /*px*/ }

.l-h_2 {
  line-height: 2px;
  /*px*/ }

.l-h_3 {
  line-height: 3px;
  /*px*/ }

.l-h_4 {
  line-height: 4px;
  /*px*/ }

.l-h_5 {
  line-height: 5px;
  /*px*/ }

.l-h_6 {
  line-height: 6px;
  /*px*/ }

.l-h_7 {
  line-height: 7px;
  /*px*/ }

.l-h_8 {
  line-height: 8px;
  /*px*/ }

.l-h_9 {
  line-height: 9px;
  /*px*/ }

.l-h_10 {
  line-height: 10px;
  /*px*/ }

.l-h_11 {
  line-height: 11px;
  /*px*/ }

.l-h_12 {
  line-height: 12px;
  /*px*/ }

.l-h_13 {
  line-height: 13px;
  /*px*/ }

.l-h_14 {
  line-height: 14px;
  /*px*/ }

.l-h_15 {
  line-height: 15px;
  /*px*/ }

.l-h_16 {
  line-height: 16px;
  /*px*/ }

.l-h_17 {
  line-height: 17px;
  /*px*/ }

.l-h_18 {
  line-height: 18px;
  /*px*/ }

.l-h_19 {
  line-height: 19px;
  /*px*/ }

.l-h_20 {
  line-height: 20px;
  /*px*/ }

.l-h_21 {
  line-height: 21px;
  /*px*/ }

.l-h_22 {
  line-height: 22px;
  /*px*/ }

.l-h_23 {
  line-height: 23px;
  /*px*/ }

.l-h_24 {
  line-height: 24px;
  /*px*/ }

.l-h_25 {
  line-height: 25px;
  /*px*/ }

.l-h_26 {
  line-height: 26px;
  /*px*/ }

.l-h_27 {
  line-height: 27px;
  /*px*/ }

.l-h_28 {
  line-height: 28px;
  /*px*/ }

.l-h_29 {
  line-height: 29px;
  /*px*/ }

.l-h_30 {
  line-height: 30px;
  /*px*/ }

.l-h_31 {
  line-height: 31px;
  /*px*/ }

.l-h_32 {
  line-height: 32px;
  /*px*/ }

.l-h_33 {
  line-height: 33px;
  /*px*/ }

.l-h_34 {
  line-height: 34px;
  /*px*/ }

.l-h_35 {
  line-height: 35px;
  /*px*/ }

.l-h_36 {
  line-height: 36px;
  /*px*/ }

.l-h_37 {
  line-height: 37px;
  /*px*/ }

.l-h_38 {
  line-height: 38px;
  /*px*/ }

.l-h_39 {
  line-height: 39px;
  /*px*/ }

.l-h_40 {
  line-height: 40px;
  /*px*/ }

.l-h_41 {
  line-height: 41px;
  /*px*/ }

.l-h_42 {
  line-height: 42px;
  /*px*/ }

.l-h_43 {
  line-height: 43px;
  /*px*/ }

.l-h_44 {
  line-height: 44px;
  /*px*/ }

.l-h_45 {
  line-height: 45px;
  /*px*/ }

.l-h_46 {
  line-height: 46px;
  /*px*/ }

.l-h_47 {
  line-height: 47px;
  /*px*/ }

.l-h_48 {
  line-height: 48px;
  /*px*/ }

.l-h_49 {
  line-height: 49px;
  /*px*/ }

.l-h_50 {
  line-height: 50px;
  /*px*/ }

.mg {
  margin: 0px; }
  .mg-x_0 {
    margin-left: 0px;
    /*px*/
    margin-right: 0px;
    /*px*/ }
  .mg-y_0 {
    margin-top: 0px;
    /*px*/
    margin-bottom: 0px;
    /*px*/ }
  .mg-top_0 {
    margin-top: 0px;
    /*px*/ }
  .mg-right_0 {
    margin-right: 0px;
    /*px*/ }
  .mg-bottom_0 {
    margin-bottom: 0px;
    /*px*/ }
  .mg-left_0 {
    margin-left: 0px;
    /*px*/ }

.mg {
  margin: 1px; }
  .mg-x_1 {
    margin-left: 1px;
    /*px*/
    margin-right: 1px;
    /*px*/ }
  .mg-y_1 {
    margin-top: 1px;
    /*px*/
    margin-bottom: 1px;
    /*px*/ }
  .mg-top_1 {
    margin-top: 1px;
    /*px*/ }
  .mg-right_1 {
    margin-right: 1px;
    /*px*/ }
  .mg-bottom_1 {
    margin-bottom: 1px;
    /*px*/ }
  .mg-left_1 {
    margin-left: 1px;
    /*px*/ }

.mg {
  margin: 2px; }
  .mg-x_2 {
    margin-left: 2px;
    /*px*/
    margin-right: 2px;
    /*px*/ }
  .mg-y_2 {
    margin-top: 2px;
    /*px*/
    margin-bottom: 2px;
    /*px*/ }
  .mg-top_2 {
    margin-top: 2px;
    /*px*/ }
  .mg-right_2 {
    margin-right: 2px;
    /*px*/ }
  .mg-bottom_2 {
    margin-bottom: 2px;
    /*px*/ }
  .mg-left_2 {
    margin-left: 2px;
    /*px*/ }

.mg {
  margin: 3px; }
  .mg-x_3 {
    margin-left: 3px;
    /*px*/
    margin-right: 3px;
    /*px*/ }
  .mg-y_3 {
    margin-top: 3px;
    /*px*/
    margin-bottom: 3px;
    /*px*/ }
  .mg-top_3 {
    margin-top: 3px;
    /*px*/ }
  .mg-right_3 {
    margin-right: 3px;
    /*px*/ }
  .mg-bottom_3 {
    margin-bottom: 3px;
    /*px*/ }
  .mg-left_3 {
    margin-left: 3px;
    /*px*/ }

.mg {
  margin: 4px; }
  .mg-x_4 {
    margin-left: 4px;
    /*px*/
    margin-right: 4px;
    /*px*/ }
  .mg-y_4 {
    margin-top: 4px;
    /*px*/
    margin-bottom: 4px;
    /*px*/ }
  .mg-top_4 {
    margin-top: 4px;
    /*px*/ }
  .mg-right_4 {
    margin-right: 4px;
    /*px*/ }
  .mg-bottom_4 {
    margin-bottom: 4px;
    /*px*/ }
  .mg-left_4 {
    margin-left: 4px;
    /*px*/ }

.mg {
  margin: 5px; }
  .mg-x_5 {
    margin-left: 5px;
    /*px*/
    margin-right: 5px;
    /*px*/ }
  .mg-y_5 {
    margin-top: 5px;
    /*px*/
    margin-bottom: 5px;
    /*px*/ }
  .mg-top_5 {
    margin-top: 5px;
    /*px*/ }
  .mg-right_5 {
    margin-right: 5px;
    /*px*/ }
  .mg-bottom_5 {
    margin-bottom: 5px;
    /*px*/ }
  .mg-left_5 {
    margin-left: 5px;
    /*px*/ }

.mg {
  margin: 6px; }
  .mg-x_6 {
    margin-left: 6px;
    /*px*/
    margin-right: 6px;
    /*px*/ }
  .mg-y_6 {
    margin-top: 6px;
    /*px*/
    margin-bottom: 6px;
    /*px*/ }
  .mg-top_6 {
    margin-top: 6px;
    /*px*/ }
  .mg-right_6 {
    margin-right: 6px;
    /*px*/ }
  .mg-bottom_6 {
    margin-bottom: 6px;
    /*px*/ }
  .mg-left_6 {
    margin-left: 6px;
    /*px*/ }

.mg {
  margin: 7px; }
  .mg-x_7 {
    margin-left: 7px;
    /*px*/
    margin-right: 7px;
    /*px*/ }
  .mg-y_7 {
    margin-top: 7px;
    /*px*/
    margin-bottom: 7px;
    /*px*/ }
  .mg-top_7 {
    margin-top: 7px;
    /*px*/ }
  .mg-right_7 {
    margin-right: 7px;
    /*px*/ }
  .mg-bottom_7 {
    margin-bottom: 7px;
    /*px*/ }
  .mg-left_7 {
    margin-left: 7px;
    /*px*/ }

.mg {
  margin: 8px; }
  .mg-x_8 {
    margin-left: 8px;
    /*px*/
    margin-right: 8px;
    /*px*/ }
  .mg-y_8 {
    margin-top: 8px;
    /*px*/
    margin-bottom: 8px;
    /*px*/ }
  .mg-top_8 {
    margin-top: 8px;
    /*px*/ }
  .mg-right_8 {
    margin-right: 8px;
    /*px*/ }
  .mg-bottom_8 {
    margin-bottom: 8px;
    /*px*/ }
  .mg-left_8 {
    margin-left: 8px;
    /*px*/ }

.mg {
  margin: 9px; }
  .mg-x_9 {
    margin-left: 9px;
    /*px*/
    margin-right: 9px;
    /*px*/ }
  .mg-y_9 {
    margin-top: 9px;
    /*px*/
    margin-bottom: 9px;
    /*px*/ }
  .mg-top_9 {
    margin-top: 9px;
    /*px*/ }
  .mg-right_9 {
    margin-right: 9px;
    /*px*/ }
  .mg-bottom_9 {
    margin-bottom: 9px;
    /*px*/ }
  .mg-left_9 {
    margin-left: 9px;
    /*px*/ }

.mg {
  margin: 10px; }
  .mg-x_10 {
    margin-left: 10px;
    /*px*/
    margin-right: 10px;
    /*px*/ }
  .mg-y_10 {
    margin-top: 10px;
    /*px*/
    margin-bottom: 10px;
    /*px*/ }
  .mg-top_10 {
    margin-top: 10px;
    /*px*/ }
  .mg-right_10 {
    margin-right: 10px;
    /*px*/ }
  .mg-bottom_10 {
    margin-bottom: 10px;
    /*px*/ }
  .mg-left_10 {
    margin-left: 10px;
    /*px*/ }

.mg {
  margin: 11px; }
  .mg-x_11 {
    margin-left: 11px;
    /*px*/
    margin-right: 11px;
    /*px*/ }
  .mg-y_11 {
    margin-top: 11px;
    /*px*/
    margin-bottom: 11px;
    /*px*/ }
  .mg-top_11 {
    margin-top: 11px;
    /*px*/ }
  .mg-right_11 {
    margin-right: 11px;
    /*px*/ }
  .mg-bottom_11 {
    margin-bottom: 11px;
    /*px*/ }
  .mg-left_11 {
    margin-left: 11px;
    /*px*/ }

.mg {
  margin: 12px; }
  .mg-x_12 {
    margin-left: 12px;
    /*px*/
    margin-right: 12px;
    /*px*/ }
  .mg-y_12 {
    margin-top: 12px;
    /*px*/
    margin-bottom: 12px;
    /*px*/ }
  .mg-top_12 {
    margin-top: 12px;
    /*px*/ }
  .mg-right_12 {
    margin-right: 12px;
    /*px*/ }
  .mg-bottom_12 {
    margin-bottom: 12px;
    /*px*/ }
  .mg-left_12 {
    margin-left: 12px;
    /*px*/ }

.mg {
  margin: 13px; }
  .mg-x_13 {
    margin-left: 13px;
    /*px*/
    margin-right: 13px;
    /*px*/ }
  .mg-y_13 {
    margin-top: 13px;
    /*px*/
    margin-bottom: 13px;
    /*px*/ }
  .mg-top_13 {
    margin-top: 13px;
    /*px*/ }
  .mg-right_13 {
    margin-right: 13px;
    /*px*/ }
  .mg-bottom_13 {
    margin-bottom: 13px;
    /*px*/ }
  .mg-left_13 {
    margin-left: 13px;
    /*px*/ }

.mg {
  margin: 14px; }
  .mg-x_14 {
    margin-left: 14px;
    /*px*/
    margin-right: 14px;
    /*px*/ }
  .mg-y_14 {
    margin-top: 14px;
    /*px*/
    margin-bottom: 14px;
    /*px*/ }
  .mg-top_14 {
    margin-top: 14px;
    /*px*/ }
  .mg-right_14 {
    margin-right: 14px;
    /*px*/ }
  .mg-bottom_14 {
    margin-bottom: 14px;
    /*px*/ }
  .mg-left_14 {
    margin-left: 14px;
    /*px*/ }

.mg {
  margin: 15px; }
  .mg-x_15 {
    margin-left: 15px;
    /*px*/
    margin-right: 15px;
    /*px*/ }
  .mg-y_15 {
    margin-top: 15px;
    /*px*/
    margin-bottom: 15px;
    /*px*/ }
  .mg-top_15 {
    margin-top: 15px;
    /*px*/ }
  .mg-right_15 {
    margin-right: 15px;
    /*px*/ }
  .mg-bottom_15 {
    margin-bottom: 15px;
    /*px*/ }
  .mg-left_15 {
    margin-left: 15px;
    /*px*/ }

.mg {
  margin: 16px; }
  .mg-x_16 {
    margin-left: 16px;
    /*px*/
    margin-right: 16px;
    /*px*/ }
  .mg-y_16 {
    margin-top: 16px;
    /*px*/
    margin-bottom: 16px;
    /*px*/ }
  .mg-top_16 {
    margin-top: 16px;
    /*px*/ }
  .mg-right_16 {
    margin-right: 16px;
    /*px*/ }
  .mg-bottom_16 {
    margin-bottom: 16px;
    /*px*/ }
  .mg-left_16 {
    margin-left: 16px;
    /*px*/ }

.mg {
  margin: 17px; }
  .mg-x_17 {
    margin-left: 17px;
    /*px*/
    margin-right: 17px;
    /*px*/ }
  .mg-y_17 {
    margin-top: 17px;
    /*px*/
    margin-bottom: 17px;
    /*px*/ }
  .mg-top_17 {
    margin-top: 17px;
    /*px*/ }
  .mg-right_17 {
    margin-right: 17px;
    /*px*/ }
  .mg-bottom_17 {
    margin-bottom: 17px;
    /*px*/ }
  .mg-left_17 {
    margin-left: 17px;
    /*px*/ }

.mg {
  margin: 18px; }
  .mg-x_18 {
    margin-left: 18px;
    /*px*/
    margin-right: 18px;
    /*px*/ }
  .mg-y_18 {
    margin-top: 18px;
    /*px*/
    margin-bottom: 18px;
    /*px*/ }
  .mg-top_18 {
    margin-top: 18px;
    /*px*/ }
  .mg-right_18 {
    margin-right: 18px;
    /*px*/ }
  .mg-bottom_18 {
    margin-bottom: 18px;
    /*px*/ }
  .mg-left_18 {
    margin-left: 18px;
    /*px*/ }

.mg {
  margin: 19px; }
  .mg-x_19 {
    margin-left: 19px;
    /*px*/
    margin-right: 19px;
    /*px*/ }
  .mg-y_19 {
    margin-top: 19px;
    /*px*/
    margin-bottom: 19px;
    /*px*/ }
  .mg-top_19 {
    margin-top: 19px;
    /*px*/ }
  .mg-right_19 {
    margin-right: 19px;
    /*px*/ }
  .mg-bottom_19 {
    margin-bottom: 19px;
    /*px*/ }
  .mg-left_19 {
    margin-left: 19px;
    /*px*/ }

.mg {
  margin: 20px; }
  .mg-x_20 {
    margin-left: 20px;
    /*px*/
    margin-right: 20px;
    /*px*/ }
  .mg-y_20 {
    margin-top: 20px;
    /*px*/
    margin-bottom: 20px;
    /*px*/ }
  .mg-top_20 {
    margin-top: 20px;
    /*px*/ }
  .mg-right_20 {
    margin-right: 20px;
    /*px*/ }
  .mg-bottom_20 {
    margin-bottom: 20px;
    /*px*/ }
  .mg-left_20 {
    margin-left: 20px;
    /*px*/ }

.mg {
  margin: 21px; }
  .mg-x_21 {
    margin-left: 21px;
    /*px*/
    margin-right: 21px;
    /*px*/ }
  .mg-y_21 {
    margin-top: 21px;
    /*px*/
    margin-bottom: 21px;
    /*px*/ }
  .mg-top_21 {
    margin-top: 21px;
    /*px*/ }
  .mg-right_21 {
    margin-right: 21px;
    /*px*/ }
  .mg-bottom_21 {
    margin-bottom: 21px;
    /*px*/ }
  .mg-left_21 {
    margin-left: 21px;
    /*px*/ }

.mg {
  margin: 22px; }
  .mg-x_22 {
    margin-left: 22px;
    /*px*/
    margin-right: 22px;
    /*px*/ }
  .mg-y_22 {
    margin-top: 22px;
    /*px*/
    margin-bottom: 22px;
    /*px*/ }
  .mg-top_22 {
    margin-top: 22px;
    /*px*/ }
  .mg-right_22 {
    margin-right: 22px;
    /*px*/ }
  .mg-bottom_22 {
    margin-bottom: 22px;
    /*px*/ }
  .mg-left_22 {
    margin-left: 22px;
    /*px*/ }

.mg {
  margin: 23px; }
  .mg-x_23 {
    margin-left: 23px;
    /*px*/
    margin-right: 23px;
    /*px*/ }
  .mg-y_23 {
    margin-top: 23px;
    /*px*/
    margin-bottom: 23px;
    /*px*/ }
  .mg-top_23 {
    margin-top: 23px;
    /*px*/ }
  .mg-right_23 {
    margin-right: 23px;
    /*px*/ }
  .mg-bottom_23 {
    margin-bottom: 23px;
    /*px*/ }
  .mg-left_23 {
    margin-left: 23px;
    /*px*/ }

.mg {
  margin: 24px; }
  .mg-x_24 {
    margin-left: 24px;
    /*px*/
    margin-right: 24px;
    /*px*/ }
  .mg-y_24 {
    margin-top: 24px;
    /*px*/
    margin-bottom: 24px;
    /*px*/ }
  .mg-top_24 {
    margin-top: 24px;
    /*px*/ }
  .mg-right_24 {
    margin-right: 24px;
    /*px*/ }
  .mg-bottom_24 {
    margin-bottom: 24px;
    /*px*/ }
  .mg-left_24 {
    margin-left: 24px;
    /*px*/ }

.mg {
  margin: 25px; }
  .mg-x_25 {
    margin-left: 25px;
    /*px*/
    margin-right: 25px;
    /*px*/ }
  .mg-y_25 {
    margin-top: 25px;
    /*px*/
    margin-bottom: 25px;
    /*px*/ }
  .mg-top_25 {
    margin-top: 25px;
    /*px*/ }
  .mg-right_25 {
    margin-right: 25px;
    /*px*/ }
  .mg-bottom_25 {
    margin-bottom: 25px;
    /*px*/ }
  .mg-left_25 {
    margin-left: 25px;
    /*px*/ }

.mg {
  margin: 26px; }
  .mg-x_26 {
    margin-left: 26px;
    /*px*/
    margin-right: 26px;
    /*px*/ }
  .mg-y_26 {
    margin-top: 26px;
    /*px*/
    margin-bottom: 26px;
    /*px*/ }
  .mg-top_26 {
    margin-top: 26px;
    /*px*/ }
  .mg-right_26 {
    margin-right: 26px;
    /*px*/ }
  .mg-bottom_26 {
    margin-bottom: 26px;
    /*px*/ }
  .mg-left_26 {
    margin-left: 26px;
    /*px*/ }

.mg {
  margin: 27px; }
  .mg-x_27 {
    margin-left: 27px;
    /*px*/
    margin-right: 27px;
    /*px*/ }
  .mg-y_27 {
    margin-top: 27px;
    /*px*/
    margin-bottom: 27px;
    /*px*/ }
  .mg-top_27 {
    margin-top: 27px;
    /*px*/ }
  .mg-right_27 {
    margin-right: 27px;
    /*px*/ }
  .mg-bottom_27 {
    margin-bottom: 27px;
    /*px*/ }
  .mg-left_27 {
    margin-left: 27px;
    /*px*/ }

.mg {
  margin: 28px; }
  .mg-x_28 {
    margin-left: 28px;
    /*px*/
    margin-right: 28px;
    /*px*/ }
  .mg-y_28 {
    margin-top: 28px;
    /*px*/
    margin-bottom: 28px;
    /*px*/ }
  .mg-top_28 {
    margin-top: 28px;
    /*px*/ }
  .mg-right_28 {
    margin-right: 28px;
    /*px*/ }
  .mg-bottom_28 {
    margin-bottom: 28px;
    /*px*/ }
  .mg-left_28 {
    margin-left: 28px;
    /*px*/ }

.mg {
  margin: 29px; }
  .mg-x_29 {
    margin-left: 29px;
    /*px*/
    margin-right: 29px;
    /*px*/ }
  .mg-y_29 {
    margin-top: 29px;
    /*px*/
    margin-bottom: 29px;
    /*px*/ }
  .mg-top_29 {
    margin-top: 29px;
    /*px*/ }
  .mg-right_29 {
    margin-right: 29px;
    /*px*/ }
  .mg-bottom_29 {
    margin-bottom: 29px;
    /*px*/ }
  .mg-left_29 {
    margin-left: 29px;
    /*px*/ }

.mg {
  margin: 30px; }
  .mg-x_30 {
    margin-left: 30px;
    /*px*/
    margin-right: 30px;
    /*px*/ }
  .mg-y_30 {
    margin-top: 30px;
    /*px*/
    margin-bottom: 30px;
    /*px*/ }
  .mg-top_30 {
    margin-top: 30px;
    /*px*/ }
  .mg-right_30 {
    margin-right: 30px;
    /*px*/ }
  .mg-bottom_30 {
    margin-bottom: 30px;
    /*px*/ }
  .mg-left_30 {
    margin-left: 30px;
    /*px*/ }

.mg {
  margin: 31px; }
  .mg-x_31 {
    margin-left: 31px;
    /*px*/
    margin-right: 31px;
    /*px*/ }
  .mg-y_31 {
    margin-top: 31px;
    /*px*/
    margin-bottom: 31px;
    /*px*/ }
  .mg-top_31 {
    margin-top: 31px;
    /*px*/ }
  .mg-right_31 {
    margin-right: 31px;
    /*px*/ }
  .mg-bottom_31 {
    margin-bottom: 31px;
    /*px*/ }
  .mg-left_31 {
    margin-left: 31px;
    /*px*/ }

.mg {
  margin: 32px; }
  .mg-x_32 {
    margin-left: 32px;
    /*px*/
    margin-right: 32px;
    /*px*/ }
  .mg-y_32 {
    margin-top: 32px;
    /*px*/
    margin-bottom: 32px;
    /*px*/ }
  .mg-top_32 {
    margin-top: 32px;
    /*px*/ }
  .mg-right_32 {
    margin-right: 32px;
    /*px*/ }
  .mg-bottom_32 {
    margin-bottom: 32px;
    /*px*/ }
  .mg-left_32 {
    margin-left: 32px;
    /*px*/ }

.mg {
  margin: 33px; }
  .mg-x_33 {
    margin-left: 33px;
    /*px*/
    margin-right: 33px;
    /*px*/ }
  .mg-y_33 {
    margin-top: 33px;
    /*px*/
    margin-bottom: 33px;
    /*px*/ }
  .mg-top_33 {
    margin-top: 33px;
    /*px*/ }
  .mg-right_33 {
    margin-right: 33px;
    /*px*/ }
  .mg-bottom_33 {
    margin-bottom: 33px;
    /*px*/ }
  .mg-left_33 {
    margin-left: 33px;
    /*px*/ }

.mg {
  margin: 34px; }
  .mg-x_34 {
    margin-left: 34px;
    /*px*/
    margin-right: 34px;
    /*px*/ }
  .mg-y_34 {
    margin-top: 34px;
    /*px*/
    margin-bottom: 34px;
    /*px*/ }
  .mg-top_34 {
    margin-top: 34px;
    /*px*/ }
  .mg-right_34 {
    margin-right: 34px;
    /*px*/ }
  .mg-bottom_34 {
    margin-bottom: 34px;
    /*px*/ }
  .mg-left_34 {
    margin-left: 34px;
    /*px*/ }

.mg {
  margin: 35px; }
  .mg-x_35 {
    margin-left: 35px;
    /*px*/
    margin-right: 35px;
    /*px*/ }
  .mg-y_35 {
    margin-top: 35px;
    /*px*/
    margin-bottom: 35px;
    /*px*/ }
  .mg-top_35 {
    margin-top: 35px;
    /*px*/ }
  .mg-right_35 {
    margin-right: 35px;
    /*px*/ }
  .mg-bottom_35 {
    margin-bottom: 35px;
    /*px*/ }
  .mg-left_35 {
    margin-left: 35px;
    /*px*/ }

.mg {
  margin: 36px; }
  .mg-x_36 {
    margin-left: 36px;
    /*px*/
    margin-right: 36px;
    /*px*/ }
  .mg-y_36 {
    margin-top: 36px;
    /*px*/
    margin-bottom: 36px;
    /*px*/ }
  .mg-top_36 {
    margin-top: 36px;
    /*px*/ }
  .mg-right_36 {
    margin-right: 36px;
    /*px*/ }
  .mg-bottom_36 {
    margin-bottom: 36px;
    /*px*/ }
  .mg-left_36 {
    margin-left: 36px;
    /*px*/ }

.mg {
  margin: 37px; }
  .mg-x_37 {
    margin-left: 37px;
    /*px*/
    margin-right: 37px;
    /*px*/ }
  .mg-y_37 {
    margin-top: 37px;
    /*px*/
    margin-bottom: 37px;
    /*px*/ }
  .mg-top_37 {
    margin-top: 37px;
    /*px*/ }
  .mg-right_37 {
    margin-right: 37px;
    /*px*/ }
  .mg-bottom_37 {
    margin-bottom: 37px;
    /*px*/ }
  .mg-left_37 {
    margin-left: 37px;
    /*px*/ }

.mg {
  margin: 38px; }
  .mg-x_38 {
    margin-left: 38px;
    /*px*/
    margin-right: 38px;
    /*px*/ }
  .mg-y_38 {
    margin-top: 38px;
    /*px*/
    margin-bottom: 38px;
    /*px*/ }
  .mg-top_38 {
    margin-top: 38px;
    /*px*/ }
  .mg-right_38 {
    margin-right: 38px;
    /*px*/ }
  .mg-bottom_38 {
    margin-bottom: 38px;
    /*px*/ }
  .mg-left_38 {
    margin-left: 38px;
    /*px*/ }

.mg {
  margin: 39px; }
  .mg-x_39 {
    margin-left: 39px;
    /*px*/
    margin-right: 39px;
    /*px*/ }
  .mg-y_39 {
    margin-top: 39px;
    /*px*/
    margin-bottom: 39px;
    /*px*/ }
  .mg-top_39 {
    margin-top: 39px;
    /*px*/ }
  .mg-right_39 {
    margin-right: 39px;
    /*px*/ }
  .mg-bottom_39 {
    margin-bottom: 39px;
    /*px*/ }
  .mg-left_39 {
    margin-left: 39px;
    /*px*/ }

.mg {
  margin: 40px; }
  .mg-x_40 {
    margin-left: 40px;
    /*px*/
    margin-right: 40px;
    /*px*/ }
  .mg-y_40 {
    margin-top: 40px;
    /*px*/
    margin-bottom: 40px;
    /*px*/ }
  .mg-top_40 {
    margin-top: 40px;
    /*px*/ }
  .mg-right_40 {
    margin-right: 40px;
    /*px*/ }
  .mg-bottom_40 {
    margin-bottom: 40px;
    /*px*/ }
  .mg-left_40 {
    margin-left: 40px;
    /*px*/ }

.mg-auto {
  margin: auto; }
  .mg-auto-x {
    margin-left: auto;
    margin-right: auto; }
  .mg-auto-y {
    margin-top: auto;
    margin-bottom: auto; }
  .mg-auto-top {
    margin-top: auto; }
  .mg-auto-right {
    margin-right: auto; }
  .mg-auto-bottom {
    margin-bottom: auto; }
  .mg-auto-left {
    margin-left: auto; }

.hidden {
  overflow: hidden; }

.scroll-y {
  overflow-y: scroll; }

.scroll-x {
  overflow-x: scroll; }

.pd_0 {
  padding: 0px;
  /*px*/ }

.pd-x_0 {
  padding-left: 0px;
  /*px*/
  padding-right: 0px;
  /*px*/ }

.pd-y_0 {
  padding-top: 0px;
  /*px*/
  padding-bottom: 0px;
  /*px*/ }

.pd-left_0 {
  padding-left: 0px;
  /*px*/ }

.pd-right_0 {
  padding-right: 0px;
  /*px*/ }

.pd-top_0 {
  padding-top: 0px;
  /*px*/ }

.pd-bottom_0 {
  padding-bottom: 0px;
  /*px*/ }

.pd_1 {
  padding: 1px;
  /*px*/ }

.pd-x_1 {
  padding-left: 1px;
  /*px*/
  padding-right: 1px;
  /*px*/ }

.pd-y_1 {
  padding-top: 1px;
  /*px*/
  padding-bottom: 1px;
  /*px*/ }

.pd-left_1 {
  padding-left: 1px;
  /*px*/ }

.pd-right_1 {
  padding-right: 1px;
  /*px*/ }

.pd-top_1 {
  padding-top: 1px;
  /*px*/ }

.pd-bottom_1 {
  padding-bottom: 1px;
  /*px*/ }

.pd_2 {
  padding: 2px;
  /*px*/ }

.pd-x_2 {
  padding-left: 2px;
  /*px*/
  padding-right: 2px;
  /*px*/ }

.pd-y_2 {
  padding-top: 2px;
  /*px*/
  padding-bottom: 2px;
  /*px*/ }

.pd-left_2 {
  padding-left: 2px;
  /*px*/ }

.pd-right_2 {
  padding-right: 2px;
  /*px*/ }

.pd-top_2 {
  padding-top: 2px;
  /*px*/ }

.pd-bottom_2 {
  padding-bottom: 2px;
  /*px*/ }

.pd_3 {
  padding: 3px;
  /*px*/ }

.pd-x_3 {
  padding-left: 3px;
  /*px*/
  padding-right: 3px;
  /*px*/ }

.pd-y_3 {
  padding-top: 3px;
  /*px*/
  padding-bottom: 3px;
  /*px*/ }

.pd-left_3 {
  padding-left: 3px;
  /*px*/ }

.pd-right_3 {
  padding-right: 3px;
  /*px*/ }

.pd-top_3 {
  padding-top: 3px;
  /*px*/ }

.pd-bottom_3 {
  padding-bottom: 3px;
  /*px*/ }

.pd_4 {
  padding: 4px;
  /*px*/ }

.pd-x_4 {
  padding-left: 4px;
  /*px*/
  padding-right: 4px;
  /*px*/ }

.pd-y_4 {
  padding-top: 4px;
  /*px*/
  padding-bottom: 4px;
  /*px*/ }

.pd-left_4 {
  padding-left: 4px;
  /*px*/ }

.pd-right_4 {
  padding-right: 4px;
  /*px*/ }

.pd-top_4 {
  padding-top: 4px;
  /*px*/ }

.pd-bottom_4 {
  padding-bottom: 4px;
  /*px*/ }

.pd_5 {
  padding: 5px;
  /*px*/ }

.pd-x_5 {
  padding-left: 5px;
  /*px*/
  padding-right: 5px;
  /*px*/ }

.pd-y_5 {
  padding-top: 5px;
  /*px*/
  padding-bottom: 5px;
  /*px*/ }

.pd-left_5 {
  padding-left: 5px;
  /*px*/ }

.pd-right_5 {
  padding-right: 5px;
  /*px*/ }

.pd-top_5 {
  padding-top: 5px;
  /*px*/ }

.pd-bottom_5 {
  padding-bottom: 5px;
  /*px*/ }

.pd_6 {
  padding: 6px;
  /*px*/ }

.pd-x_6 {
  padding-left: 6px;
  /*px*/
  padding-right: 6px;
  /*px*/ }

.pd-y_6 {
  padding-top: 6px;
  /*px*/
  padding-bottom: 6px;
  /*px*/ }

.pd-left_6 {
  padding-left: 6px;
  /*px*/ }

.pd-right_6 {
  padding-right: 6px;
  /*px*/ }

.pd-top_6 {
  padding-top: 6px;
  /*px*/ }

.pd-bottom_6 {
  padding-bottom: 6px;
  /*px*/ }

.pd_7 {
  padding: 7px;
  /*px*/ }

.pd-x_7 {
  padding-left: 7px;
  /*px*/
  padding-right: 7px;
  /*px*/ }

.pd-y_7 {
  padding-top: 7px;
  /*px*/
  padding-bottom: 7px;
  /*px*/ }

.pd-left_7 {
  padding-left: 7px;
  /*px*/ }

.pd-right_7 {
  padding-right: 7px;
  /*px*/ }

.pd-top_7 {
  padding-top: 7px;
  /*px*/ }

.pd-bottom_7 {
  padding-bottom: 7px;
  /*px*/ }

.pd_8 {
  padding: 8px;
  /*px*/ }

.pd-x_8 {
  padding-left: 8px;
  /*px*/
  padding-right: 8px;
  /*px*/ }

.pd-y_8 {
  padding-top: 8px;
  /*px*/
  padding-bottom: 8px;
  /*px*/ }

.pd-left_8 {
  padding-left: 8px;
  /*px*/ }

.pd-right_8 {
  padding-right: 8px;
  /*px*/ }

.pd-top_8 {
  padding-top: 8px;
  /*px*/ }

.pd-bottom_8 {
  padding-bottom: 8px;
  /*px*/ }

.pd_9 {
  padding: 9px;
  /*px*/ }

.pd-x_9 {
  padding-left: 9px;
  /*px*/
  padding-right: 9px;
  /*px*/ }

.pd-y_9 {
  padding-top: 9px;
  /*px*/
  padding-bottom: 9px;
  /*px*/ }

.pd-left_9 {
  padding-left: 9px;
  /*px*/ }

.pd-right_9 {
  padding-right: 9px;
  /*px*/ }

.pd-top_9 {
  padding-top: 9px;
  /*px*/ }

.pd-bottom_9 {
  padding-bottom: 9px;
  /*px*/ }

.pd_10 {
  padding: 10px;
  /*px*/ }

.pd-x_10 {
  padding-left: 10px;
  /*px*/
  padding-right: 10px;
  /*px*/ }

.pd-y_10 {
  padding-top: 10px;
  /*px*/
  padding-bottom: 10px;
  /*px*/ }

.pd-left_10 {
  padding-left: 10px;
  /*px*/ }

.pd-right_10 {
  padding-right: 10px;
  /*px*/ }

.pd-top_10 {
  padding-top: 10px;
  /*px*/ }

.pd-bottom_10 {
  padding-bottom: 10px;
  /*px*/ }

.pd_11 {
  padding: 11px;
  /*px*/ }

.pd-x_11 {
  padding-left: 11px;
  /*px*/
  padding-right: 11px;
  /*px*/ }

.pd-y_11 {
  padding-top: 11px;
  /*px*/
  padding-bottom: 11px;
  /*px*/ }

.pd-left_11 {
  padding-left: 11px;
  /*px*/ }

.pd-right_11 {
  padding-right: 11px;
  /*px*/ }

.pd-top_11 {
  padding-top: 11px;
  /*px*/ }

.pd-bottom_11 {
  padding-bottom: 11px;
  /*px*/ }

.pd_12 {
  padding: 12px;
  /*px*/ }

.pd-x_12 {
  padding-left: 12px;
  /*px*/
  padding-right: 12px;
  /*px*/ }

.pd-y_12 {
  padding-top: 12px;
  /*px*/
  padding-bottom: 12px;
  /*px*/ }

.pd-left_12 {
  padding-left: 12px;
  /*px*/ }

.pd-right_12 {
  padding-right: 12px;
  /*px*/ }

.pd-top_12 {
  padding-top: 12px;
  /*px*/ }

.pd-bottom_12 {
  padding-bottom: 12px;
  /*px*/ }

.pd_13 {
  padding: 13px;
  /*px*/ }

.pd-x_13 {
  padding-left: 13px;
  /*px*/
  padding-right: 13px;
  /*px*/ }

.pd-y_13 {
  padding-top: 13px;
  /*px*/
  padding-bottom: 13px;
  /*px*/ }

.pd-left_13 {
  padding-left: 13px;
  /*px*/ }

.pd-right_13 {
  padding-right: 13px;
  /*px*/ }

.pd-top_13 {
  padding-top: 13px;
  /*px*/ }

.pd-bottom_13 {
  padding-bottom: 13px;
  /*px*/ }

.pd_14 {
  padding: 14px;
  /*px*/ }

.pd-x_14 {
  padding-left: 14px;
  /*px*/
  padding-right: 14px;
  /*px*/ }

.pd-y_14 {
  padding-top: 14px;
  /*px*/
  padding-bottom: 14px;
  /*px*/ }

.pd-left_14 {
  padding-left: 14px;
  /*px*/ }

.pd-right_14 {
  padding-right: 14px;
  /*px*/ }

.pd-top_14 {
  padding-top: 14px;
  /*px*/ }

.pd-bottom_14 {
  padding-bottom: 14px;
  /*px*/ }

.pd_15 {
  padding: 15px;
  /*px*/ }

.pd-x_15 {
  padding-left: 15px;
  /*px*/
  padding-right: 15px;
  /*px*/ }

.pd-y_15 {
  padding-top: 15px;
  /*px*/
  padding-bottom: 15px;
  /*px*/ }

.pd-left_15 {
  padding-left: 15px;
  /*px*/ }

.pd-right_15 {
  padding-right: 15px;
  /*px*/ }

.pd-top_15 {
  padding-top: 15px;
  /*px*/ }

.pd-bottom_15 {
  padding-bottom: 15px;
  /*px*/ }

.pd_16 {
  padding: 16px;
  /*px*/ }

.pd-x_16 {
  padding-left: 16px;
  /*px*/
  padding-right: 16px;
  /*px*/ }

.pd-y_16 {
  padding-top: 16px;
  /*px*/
  padding-bottom: 16px;
  /*px*/ }

.pd-left_16 {
  padding-left: 16px;
  /*px*/ }

.pd-right_16 {
  padding-right: 16px;
  /*px*/ }

.pd-top_16 {
  padding-top: 16px;
  /*px*/ }

.pd-bottom_16 {
  padding-bottom: 16px;
  /*px*/ }

.pd_17 {
  padding: 17px;
  /*px*/ }

.pd-x_17 {
  padding-left: 17px;
  /*px*/
  padding-right: 17px;
  /*px*/ }

.pd-y_17 {
  padding-top: 17px;
  /*px*/
  padding-bottom: 17px;
  /*px*/ }

.pd-left_17 {
  padding-left: 17px;
  /*px*/ }

.pd-right_17 {
  padding-right: 17px;
  /*px*/ }

.pd-top_17 {
  padding-top: 17px;
  /*px*/ }

.pd-bottom_17 {
  padding-bottom: 17px;
  /*px*/ }

.pd_18 {
  padding: 18px;
  /*px*/ }

.pd-x_18 {
  padding-left: 18px;
  /*px*/
  padding-right: 18px;
  /*px*/ }

.pd-y_18 {
  padding-top: 18px;
  /*px*/
  padding-bottom: 18px;
  /*px*/ }

.pd-left_18 {
  padding-left: 18px;
  /*px*/ }

.pd-right_18 {
  padding-right: 18px;
  /*px*/ }

.pd-top_18 {
  padding-top: 18px;
  /*px*/ }

.pd-bottom_18 {
  padding-bottom: 18px;
  /*px*/ }

.pd_19 {
  padding: 19px;
  /*px*/ }

.pd-x_19 {
  padding-left: 19px;
  /*px*/
  padding-right: 19px;
  /*px*/ }

.pd-y_19 {
  padding-top: 19px;
  /*px*/
  padding-bottom: 19px;
  /*px*/ }

.pd-left_19 {
  padding-left: 19px;
  /*px*/ }

.pd-right_19 {
  padding-right: 19px;
  /*px*/ }

.pd-top_19 {
  padding-top: 19px;
  /*px*/ }

.pd-bottom_19 {
  padding-bottom: 19px;
  /*px*/ }

.pd_20 {
  padding: 20px;
  /*px*/ }

.pd-x_20 {
  padding-left: 20px;
  /*px*/
  padding-right: 20px;
  /*px*/ }

.pd-y_20 {
  padding-top: 20px;
  /*px*/
  padding-bottom: 20px;
  /*px*/ }

.pd-left_20 {
  padding-left: 20px;
  /*px*/ }

.pd-right_20 {
  padding-right: 20px;
  /*px*/ }

.pd-top_20 {
  padding-top: 20px;
  /*px*/ }

.pd-bottom_20 {
  padding-bottom: 20px;
  /*px*/ }

.pd_21 {
  padding: 21px;
  /*px*/ }

.pd-x_21 {
  padding-left: 21px;
  /*px*/
  padding-right: 21px;
  /*px*/ }

.pd-y_21 {
  padding-top: 21px;
  /*px*/
  padding-bottom: 21px;
  /*px*/ }

.pd-left_21 {
  padding-left: 21px;
  /*px*/ }

.pd-right_21 {
  padding-right: 21px;
  /*px*/ }

.pd-top_21 {
  padding-top: 21px;
  /*px*/ }

.pd-bottom_21 {
  padding-bottom: 21px;
  /*px*/ }

.pd_22 {
  padding: 22px;
  /*px*/ }

.pd-x_22 {
  padding-left: 22px;
  /*px*/
  padding-right: 22px;
  /*px*/ }

.pd-y_22 {
  padding-top: 22px;
  /*px*/
  padding-bottom: 22px;
  /*px*/ }

.pd-left_22 {
  padding-left: 22px;
  /*px*/ }

.pd-right_22 {
  padding-right: 22px;
  /*px*/ }

.pd-top_22 {
  padding-top: 22px;
  /*px*/ }

.pd-bottom_22 {
  padding-bottom: 22px;
  /*px*/ }

.pd_23 {
  padding: 23px;
  /*px*/ }

.pd-x_23 {
  padding-left: 23px;
  /*px*/
  padding-right: 23px;
  /*px*/ }

.pd-y_23 {
  padding-top: 23px;
  /*px*/
  padding-bottom: 23px;
  /*px*/ }

.pd-left_23 {
  padding-left: 23px;
  /*px*/ }

.pd-right_23 {
  padding-right: 23px;
  /*px*/ }

.pd-top_23 {
  padding-top: 23px;
  /*px*/ }

.pd-bottom_23 {
  padding-bottom: 23px;
  /*px*/ }

.pd_24 {
  padding: 24px;
  /*px*/ }

.pd-x_24 {
  padding-left: 24px;
  /*px*/
  padding-right: 24px;
  /*px*/ }

.pd-y_24 {
  padding-top: 24px;
  /*px*/
  padding-bottom: 24px;
  /*px*/ }

.pd-left_24 {
  padding-left: 24px;
  /*px*/ }

.pd-right_24 {
  padding-right: 24px;
  /*px*/ }

.pd-top_24 {
  padding-top: 24px;
  /*px*/ }

.pd-bottom_24 {
  padding-bottom: 24px;
  /*px*/ }

.pd_25 {
  padding: 25px;
  /*px*/ }

.pd-x_25 {
  padding-left: 25px;
  /*px*/
  padding-right: 25px;
  /*px*/ }

.pd-y_25 {
  padding-top: 25px;
  /*px*/
  padding-bottom: 25px;
  /*px*/ }

.pd-left_25 {
  padding-left: 25px;
  /*px*/ }

.pd-right_25 {
  padding-right: 25px;
  /*px*/ }

.pd-top_25 {
  padding-top: 25px;
  /*px*/ }

.pd-bottom_25 {
  padding-bottom: 25px;
  /*px*/ }

.pd_26 {
  padding: 26px;
  /*px*/ }

.pd-x_26 {
  padding-left: 26px;
  /*px*/
  padding-right: 26px;
  /*px*/ }

.pd-y_26 {
  padding-top: 26px;
  /*px*/
  padding-bottom: 26px;
  /*px*/ }

.pd-left_26 {
  padding-left: 26px;
  /*px*/ }

.pd-right_26 {
  padding-right: 26px;
  /*px*/ }

.pd-top_26 {
  padding-top: 26px;
  /*px*/ }

.pd-bottom_26 {
  padding-bottom: 26px;
  /*px*/ }

.pd_27 {
  padding: 27px;
  /*px*/ }

.pd-x_27 {
  padding-left: 27px;
  /*px*/
  padding-right: 27px;
  /*px*/ }

.pd-y_27 {
  padding-top: 27px;
  /*px*/
  padding-bottom: 27px;
  /*px*/ }

.pd-left_27 {
  padding-left: 27px;
  /*px*/ }

.pd-right_27 {
  padding-right: 27px;
  /*px*/ }

.pd-top_27 {
  padding-top: 27px;
  /*px*/ }

.pd-bottom_27 {
  padding-bottom: 27px;
  /*px*/ }

.pd_28 {
  padding: 28px;
  /*px*/ }

.pd-x_28 {
  padding-left: 28px;
  /*px*/
  padding-right: 28px;
  /*px*/ }

.pd-y_28 {
  padding-top: 28px;
  /*px*/
  padding-bottom: 28px;
  /*px*/ }

.pd-left_28 {
  padding-left: 28px;
  /*px*/ }

.pd-right_28 {
  padding-right: 28px;
  /*px*/ }

.pd-top_28 {
  padding-top: 28px;
  /*px*/ }

.pd-bottom_28 {
  padding-bottom: 28px;
  /*px*/ }

.pd_29 {
  padding: 29px;
  /*px*/ }

.pd-x_29 {
  padding-left: 29px;
  /*px*/
  padding-right: 29px;
  /*px*/ }

.pd-y_29 {
  padding-top: 29px;
  /*px*/
  padding-bottom: 29px;
  /*px*/ }

.pd-left_29 {
  padding-left: 29px;
  /*px*/ }

.pd-right_29 {
  padding-right: 29px;
  /*px*/ }

.pd-top_29 {
  padding-top: 29px;
  /*px*/ }

.pd-bottom_29 {
  padding-bottom: 29px;
  /*px*/ }

.pd_30 {
  padding: 30px;
  /*px*/ }

.pd-x_30 {
  padding-left: 30px;
  /*px*/
  padding-right: 30px;
  /*px*/ }

.pd-y_30 {
  padding-top: 30px;
  /*px*/
  padding-bottom: 30px;
  /*px*/ }

.pd-left_30 {
  padding-left: 30px;
  /*px*/ }

.pd-right_30 {
  padding-right: 30px;
  /*px*/ }

.pd-top_30 {
  padding-top: 30px;
  /*px*/ }

.pd-bottom_30 {
  padding-bottom: 30px;
  /*px*/ }

.pd_31 {
  padding: 31px;
  /*px*/ }

.pd-x_31 {
  padding-left: 31px;
  /*px*/
  padding-right: 31px;
  /*px*/ }

.pd-y_31 {
  padding-top: 31px;
  /*px*/
  padding-bottom: 31px;
  /*px*/ }

.pd-left_31 {
  padding-left: 31px;
  /*px*/ }

.pd-right_31 {
  padding-right: 31px;
  /*px*/ }

.pd-top_31 {
  padding-top: 31px;
  /*px*/ }

.pd-bottom_31 {
  padding-bottom: 31px;
  /*px*/ }

.pd_32 {
  padding: 32px;
  /*px*/ }

.pd-x_32 {
  padding-left: 32px;
  /*px*/
  padding-right: 32px;
  /*px*/ }

.pd-y_32 {
  padding-top: 32px;
  /*px*/
  padding-bottom: 32px;
  /*px*/ }

.pd-left_32 {
  padding-left: 32px;
  /*px*/ }

.pd-right_32 {
  padding-right: 32px;
  /*px*/ }

.pd-top_32 {
  padding-top: 32px;
  /*px*/ }

.pd-bottom_32 {
  padding-bottom: 32px;
  /*px*/ }

.pd_33 {
  padding: 33px;
  /*px*/ }

.pd-x_33 {
  padding-left: 33px;
  /*px*/
  padding-right: 33px;
  /*px*/ }

.pd-y_33 {
  padding-top: 33px;
  /*px*/
  padding-bottom: 33px;
  /*px*/ }

.pd-left_33 {
  padding-left: 33px;
  /*px*/ }

.pd-right_33 {
  padding-right: 33px;
  /*px*/ }

.pd-top_33 {
  padding-top: 33px;
  /*px*/ }

.pd-bottom_33 {
  padding-bottom: 33px;
  /*px*/ }

.pd_34 {
  padding: 34px;
  /*px*/ }

.pd-x_34 {
  padding-left: 34px;
  /*px*/
  padding-right: 34px;
  /*px*/ }

.pd-y_34 {
  padding-top: 34px;
  /*px*/
  padding-bottom: 34px;
  /*px*/ }

.pd-left_34 {
  padding-left: 34px;
  /*px*/ }

.pd-right_34 {
  padding-right: 34px;
  /*px*/ }

.pd-top_34 {
  padding-top: 34px;
  /*px*/ }

.pd-bottom_34 {
  padding-bottom: 34px;
  /*px*/ }

.pd_35 {
  padding: 35px;
  /*px*/ }

.pd-x_35 {
  padding-left: 35px;
  /*px*/
  padding-right: 35px;
  /*px*/ }

.pd-y_35 {
  padding-top: 35px;
  /*px*/
  padding-bottom: 35px;
  /*px*/ }

.pd-left_35 {
  padding-left: 35px;
  /*px*/ }

.pd-right_35 {
  padding-right: 35px;
  /*px*/ }

.pd-top_35 {
  padding-top: 35px;
  /*px*/ }

.pd-bottom_35 {
  padding-bottom: 35px;
  /*px*/ }

.pd_36 {
  padding: 36px;
  /*px*/ }

.pd-x_36 {
  padding-left: 36px;
  /*px*/
  padding-right: 36px;
  /*px*/ }

.pd-y_36 {
  padding-top: 36px;
  /*px*/
  padding-bottom: 36px;
  /*px*/ }

.pd-left_36 {
  padding-left: 36px;
  /*px*/ }

.pd-right_36 {
  padding-right: 36px;
  /*px*/ }

.pd-top_36 {
  padding-top: 36px;
  /*px*/ }

.pd-bottom_36 {
  padding-bottom: 36px;
  /*px*/ }

.pd_37 {
  padding: 37px;
  /*px*/ }

.pd-x_37 {
  padding-left: 37px;
  /*px*/
  padding-right: 37px;
  /*px*/ }

.pd-y_37 {
  padding-top: 37px;
  /*px*/
  padding-bottom: 37px;
  /*px*/ }

.pd-left_37 {
  padding-left: 37px;
  /*px*/ }

.pd-right_37 {
  padding-right: 37px;
  /*px*/ }

.pd-top_37 {
  padding-top: 37px;
  /*px*/ }

.pd-bottom_37 {
  padding-bottom: 37px;
  /*px*/ }

.pd_38 {
  padding: 38px;
  /*px*/ }

.pd-x_38 {
  padding-left: 38px;
  /*px*/
  padding-right: 38px;
  /*px*/ }

.pd-y_38 {
  padding-top: 38px;
  /*px*/
  padding-bottom: 38px;
  /*px*/ }

.pd-left_38 {
  padding-left: 38px;
  /*px*/ }

.pd-right_38 {
  padding-right: 38px;
  /*px*/ }

.pd-top_38 {
  padding-top: 38px;
  /*px*/ }

.pd-bottom_38 {
  padding-bottom: 38px;
  /*px*/ }

.pd_39 {
  padding: 39px;
  /*px*/ }

.pd-x_39 {
  padding-left: 39px;
  /*px*/
  padding-right: 39px;
  /*px*/ }

.pd-y_39 {
  padding-top: 39px;
  /*px*/
  padding-bottom: 39px;
  /*px*/ }

.pd-left_39 {
  padding-left: 39px;
  /*px*/ }

.pd-right_39 {
  padding-right: 39px;
  /*px*/ }

.pd-top_39 {
  padding-top: 39px;
  /*px*/ }

.pd-bottom_39 {
  padding-bottom: 39px;
  /*px*/ }

.pd_40 {
  padding: 40px;
  /*px*/ }

.pd-x_40 {
  padding-left: 40px;
  /*px*/
  padding-right: 40px;
  /*px*/ }

.pd-y_40 {
  padding-top: 40px;
  /*px*/
  padding-bottom: 40px;
  /*px*/ }

.pd-left_40 {
  padding-left: 40px;
  /*px*/ }

.pd-right_40 {
  padding-right: 40px;
  /*px*/ }

.pd-top_40 {
  padding-top: 40px;
  /*px*/ }

.pd-bottom_40 {
  padding-bottom: 40px;
  /*px*/ }

.position_re {
  position: relative; }

.position_ab {
  position: absolute; }

.rds {
  border-radius: 100%; }
  .rds_0 {
    border-radius: 0px;
    /*px*/ }
  .rds_1 {
    border-radius: 1px;
    /*px*/ }
  .rds_2 {
    border-radius: 2px;
    /*px*/ }
  .rds_3 {
    border-radius: 3px;
    /*px*/ }
  .rds_4 {
    border-radius: 4px;
    /*px*/ }
  .rds_5 {
    border-radius: 5px;
    /*px*/ }
  .rds_6 {
    border-radius: 6px;
    /*px*/ }
  .rds_7 {
    border-radius: 7px;
    /*px*/ }
  .rds_8 {
    border-radius: 8px;
    /*px*/ }
  .rds_9 {
    border-radius: 9px;
    /*px*/ }
  .rds_10 {
    border-radius: 10px;
    /*px*/ }
  .rds_11 {
    border-radius: 11px;
    /*px*/ }
  .rds_12 {
    border-radius: 12px;
    /*px*/ }
  .rds_13 {
    border-radius: 13px;
    /*px*/ }
  .rds_14 {
    border-radius: 14px;
    /*px*/ }
  .rds_15 {
    border-radius: 15px;
    /*px*/ }
  .rds_16 {
    border-radius: 16px;
    /*px*/ }
  .rds_17 {
    border-radius: 17px;
    /*px*/ }
  .rds_18 {
    border-radius: 18px;
    /*px*/ }
  .rds_19 {
    border-radius: 19px;
    /*px*/ }
  .rds_20 {
    border-radius: 20px;
    /*px*/ }

.right_0 {
  right: 0px;
  /*px*/ }

.right_1 {
  right: 1px;
  /*px*/ }

.right_2 {
  right: 2px;
  /*px*/ }

.right_3 {
  right: 3px;
  /*px*/ }

.right_4 {
  right: 4px;
  /*px*/ }

.right_5 {
  right: 5px;
  /*px*/ }

.right_6 {
  right: 6px;
  /*px*/ }

.right_7 {
  right: 7px;
  /*px*/ }

.right_8 {
  right: 8px;
  /*px*/ }

.right_9 {
  right: 9px;
  /*px*/ }

.right_10 {
  right: 10px;
  /*px*/ }

.right_11 {
  right: 11px;
  /*px*/ }

.right_12 {
  right: 12px;
  /*px*/ }

.right_13 {
  right: 13px;
  /*px*/ }

.right_14 {
  right: 14px;
  /*px*/ }

.right_15 {
  right: 15px;
  /*px*/ }

.right_16 {
  right: 16px;
  /*px*/ }

.right_17 {
  right: 17px;
  /*px*/ }

.right_18 {
  right: 18px;
  /*px*/ }

.right_19 {
  right: 19px;
  /*px*/ }

.right_20 {
  right: 20px;
  /*px*/ }

.text-uline {
  text-decoration: underline; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-clamp_1 {
  display: flex;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all; }

.text-clamp_2 {
  display: flex;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all; }

.text-ellipsis {
  text-overflow: ellipsis; }

.text-underline {
  text-decoration: underline; }

.top_0 {
  top: 0px;
  /*px*/ }

.top_1 {
  top: 1px;
  /*px*/ }

.top_2 {
  top: 2px;
  /*px*/ }

.top_3 {
  top: 3px;
  /*px*/ }

.top_4 {
  top: 4px;
  /*px*/ }

.top_5 {
  top: 5px;
  /*px*/ }

.top_6 {
  top: 6px;
  /*px*/ }

.top_7 {
  top: 7px;
  /*px*/ }

.top_8 {
  top: 8px;
  /*px*/ }

.top_9 {
  top: 9px;
  /*px*/ }

.top_10 {
  top: 10px;
  /*px*/ }

.top_11 {
  top: 11px;
  /*px*/ }

.top_12 {
  top: 12px;
  /*px*/ }

.top_13 {
  top: 13px;
  /*px*/ }

.top_14 {
  top: 14px;
  /*px*/ }

.top_15 {
  top: 15px;
  /*px*/ }

.top_16 {
  top: 16px;
  /*px*/ }

.top_17 {
  top: 17px;
  /*px*/ }

.top_18 {
  top: 18px;
  /*px*/ }

.top_19 {
  top: 19px;
  /*px*/ }

.top_20 {
  top: 20px;
  /*px*/ }

.w-auto {
  width: auto; }

.w_0 {
  width: 0px;
  /*px*/ }

.w_1 {
  width: 1px;
  /*px*/ }

.w_2 {
  width: 2px;
  /*px*/ }

.w_3 {
  width: 3px;
  /*px*/ }

.w_4 {
  width: 4px;
  /*px*/ }

.w_5 {
  width: 5px;
  /*px*/ }

.w_6 {
  width: 6px;
  /*px*/ }

.w_7 {
  width: 7px;
  /*px*/ }

.w_8 {
  width: 8px;
  /*px*/ }

.w_9 {
  width: 9px;
  /*px*/ }

.w_10 {
  width: 10px;
  /*px*/ }

.w_11 {
  width: 11px;
  /*px*/ }

.w_12 {
  width: 12px;
  /*px*/ }

.w_13 {
  width: 13px;
  /*px*/ }

.w_14 {
  width: 14px;
  /*px*/ }

.w_15 {
  width: 15px;
  /*px*/ }

.w_16 {
  width: 16px;
  /*px*/ }

.w_17 {
  width: 17px;
  /*px*/ }

.w_18 {
  width: 18px;
  /*px*/ }

.w_19 {
  width: 19px;
  /*px*/ }

.w_20 {
  width: 20px;
  /*px*/ }

.w_21 {
  width: 21px;
  /*px*/ }

.w_22 {
  width: 22px;
  /*px*/ }

.w_23 {
  width: 23px;
  /*px*/ }

.w_24 {
  width: 24px;
  /*px*/ }

.w_25 {
  width: 25px;
  /*px*/ }

.w_26 {
  width: 26px;
  /*px*/ }

.w_27 {
  width: 27px;
  /*px*/ }

.w_28 {
  width: 28px;
  /*px*/ }

.w_29 {
  width: 29px;
  /*px*/ }

.w_30 {
  width: 30px;
  /*px*/ }

.w_31 {
  width: 31px;
  /*px*/ }

.w_32 {
  width: 32px;
  /*px*/ }

.w_33 {
  width: 33px;
  /*px*/ }

.w_34 {
  width: 34px;
  /*px*/ }

.w_35 {
  width: 35px;
  /*px*/ }

.w_36 {
  width: 36px;
  /*px*/ }

.w_37 {
  width: 37px;
  /*px*/ }

.w_38 {
  width: 38px;
  /*px*/ }

.w_39 {
  width: 39px;
  /*px*/ }

.w_40 {
  width: 40px;
  /*px*/ }

.w_41 {
  width: 41px;
  /*px*/ }

.w_42 {
  width: 42px;
  /*px*/ }

.w_43 {
  width: 43px;
  /*px*/ }

.w_44 {
  width: 44px;
  /*px*/ }

.w_45 {
  width: 45px;
  /*px*/ }

.w_46 {
  width: 46px;
  /*px*/ }

.w_47 {
  width: 47px;
  /*px*/ }

.w_48 {
  width: 48px;
  /*px*/ }

.w_49 {
  width: 49px;
  /*px*/ }

.w_50 {
  width: 50px;
  /*px*/ }

.w_51 {
  width: 51px;
  /*px*/ }

.w_52 {
  width: 52px;
  /*px*/ }

.w_53 {
  width: 53px;
  /*px*/ }

.w_54 {
  width: 54px;
  /*px*/ }

.w_55 {
  width: 55px;
  /*px*/ }

.w_56 {
  width: 56px;
  /*px*/ }

.w_57 {
  width: 57px;
  /*px*/ }

.w_58 {
  width: 58px;
  /*px*/ }

.w_59 {
  width: 59px;
  /*px*/ }

.w_60 {
  width: 60px;
  /*px*/ }

.w_61 {
  width: 61px;
  /*px*/ }

.w_62 {
  width: 62px;
  /*px*/ }

.w_63 {
  width: 63px;
  /*px*/ }

.w_64 {
  width: 64px;
  /*px*/ }

.w_65 {
  width: 65px;
  /*px*/ }

.w_66 {
  width: 66px;
  /*px*/ }

.w_67 {
  width: 67px;
  /*px*/ }

.w_68 {
  width: 68px;
  /*px*/ }

.w_69 {
  width: 69px;
  /*px*/ }

.w_70 {
  width: 70px;
  /*px*/ }

.w_71 {
  width: 71px;
  /*px*/ }

.w_72 {
  width: 72px;
  /*px*/ }

.w_73 {
  width: 73px;
  /*px*/ }

.w_74 {
  width: 74px;
  /*px*/ }

.w_75 {
  width: 75px;
  /*px*/ }

.w_76 {
  width: 76px;
  /*px*/ }

.w_77 {
  width: 77px;
  /*px*/ }

.w_78 {
  width: 78px;
  /*px*/ }

.w_79 {
  width: 79px;
  /*px*/ }

.w_80 {
  width: 80px;
  /*px*/ }

.w_81 {
  width: 81px;
  /*px*/ }

.w_82 {
  width: 82px;
  /*px*/ }

.w_83 {
  width: 83px;
  /*px*/ }

.w_84 {
  width: 84px;
  /*px*/ }

.w_85 {
  width: 85px;
  /*px*/ }

.w_86 {
  width: 86px;
  /*px*/ }

.w_87 {
  width: 87px;
  /*px*/ }

.w_88 {
  width: 88px;
  /*px*/ }

.w_89 {
  width: 89px;
  /*px*/ }

.w_90 {
  width: 90px;
  /*px*/ }

.w_91 {
  width: 91px;
  /*px*/ }

.w_92 {
  width: 92px;
  /*px*/ }

.w_93 {
  width: 93px;
  /*px*/ }

.w_94 {
  width: 94px;
  /*px*/ }

.w_95 {
  width: 95px;
  /*px*/ }

.w_96 {
  width: 96px;
  /*px*/ }

.w_97 {
  width: 97px;
  /*px*/ }

.w_98 {
  width: 98px;
  /*px*/ }

.w_99 {
  width: 99px;
  /*px*/ }

.w_100 {
  width: 100px;
  /*px*/ }

.word-break {
  word-break: break-all; }

.z_0 {
  z-index: 0; }

.z_1 {
  z-index: 1; }

.z_2 {
  z-index: 2; }

.z_9 {
  z-index: 2; }

.z_99 {
  z-index: 99; }

.z_999 {
  z-index: 999; }

.z_9999 {
  z-index: 9999; }

.z_99999 {
  z-index: 99999; }
