@charset "UTF-8";
.item-center {
  align-items: center; }

.item-start {
  align-items: flex-start; }

.item-end {
  align-items: flex-end; }

.vertical-mid {
  vertical-align: middle; }

.box {
  box-sizing: border-box; }

.block {
  display: block; }

.hide {
  display: none; }

.inline {
  display: inline; }
  .inline-block {
    display: inline-block; }

.fixed {
  position: fixed; }
  .fixed.z {
    z-index: 99; }
  .fixed.bottom {
    left: 0;
    right: 0;
    bottom: 0; }
  .fixed.top {
    left: 0;
    right: 0;
    top: 0; }

.flex {
  display: flex; }
  .flex_1 {
    flex: 1; }
  .flex_2 {
    flex: 2; }
  .flex_3 {
    flex: 3; }
  .flex_4 {
    flex: 4; }
  .flex-direction-column {
    flex-direction: column; }
  .flex.row {
    flex-direction: row; }
  .flex.row-reverse {
    flex-direction: row-reverse; }
  .flex.column {
    flex-direction: column; }
  .flex.column-reverse {
    flex-direction: column-reverse; }

.fl {
  float: left; }

.fr {
  float: right; }

.ft_0 {
  font-size: 0 !important; }

.ft_11 {
  font-size: 11px !important;
  /*no*/ }

.ft_12 {
  font-size: 12px !important;
  /*no*/ }

.ft_13 {
  font-size: 13px !important;
  /*no*/ }

.ft_14 {
  font-size: 14px !important;
  /*no*/ }

.ft_15 {
  font-size: 15px !important;
  /*no*/ }

.ft_16 {
  font-size: 16px !important;
  /*no*/ }

.ft_17 {
  font-size: 17px !important;
  /*no*/ }

.ft_18 {
  font-size: 18px !important;
  /*no*/ }

.ft_19 {
  font-size: 19px !important;
  /*no*/ }

.ft_20 {
  font-size: 20px !important;
  /*no*/ }

.ft_21 {
  font-size: 21px !important;
  /*no*/ }

.ft_22 {
  font-size: 22px !important;
  /*no*/ }

.ft_23 {
  font-size: 23px !important;
  /*no*/ }

.ft_24 {
  font-size: 24px !important;
  /*no*/ }

.ft_25 {
  font-size: 25px !important;
  /*no*/ }

.ft_26 {
  font-size: 26px !important;
  /*no*/ }

.ft_27 {
  font-size: 27px !important;
  /*no*/ }

.ft_28 {
  font-size: 28px !important;
  /*no*/ }

.ft_29 {
  font-size: 29px !important;
  /*no*/ }

.ft_30 {
  font-size: 30px !important;
  /*no*/ }

.ft_31 {
  font-size: 31px !important;
  /*no*/ }

.ft_32 {
  font-size: 32px !important;
  /*no*/ }

.ft_33 {
  font-size: 33px !important;
  /*no*/ }

.ft_34 {
  font-size: 34px !important;
  /*no*/ }

.ft_35 {
  font-size: 35px !important;
  /*no*/ }

.ft_36 {
  font-size: 36px !important;
  /*no*/ }

.ft_37 {
  font-size: 37px !important;
  /*no*/ }

.ft-noraml {
  font-style: normal !important; }

.ft-family {
  font-family: 'PingFangTC-Regular', PingFangSC-Light, "Microsoft Yahei", "微软雅黑", sans-serif; }

.strong {
  font-weight: bold; }

.h {
  height: 100%; }
  .h-auto {
    height: auto; }
  .h_0 {
    height: 0px;
    /*no*/ }
  .h_1 {
    height: 1px;
    /*no*/ }
  .h_2 {
    height: 2px;
    /*no*/ }
  .h_3 {
    height: 3px;
    /*no*/ }
  .h_4 {
    height: 4px;
    /*no*/ }
  .h_5 {
    height: 5px;
    /*no*/ }
  .h_6 {
    height: 6px;
    /*no*/ }
  .h_7 {
    height: 7px;
    /*no*/ }
  .h_8 {
    height: 8px;
    /*no*/ }
  .h_9 {
    height: 9px;
    /*no*/ }
  .h_10 {
    height: 10px;
    /*no*/ }
  .h_11 {
    height: 11px;
    /*no*/ }
  .h_12 {
    height: 12px;
    /*no*/ }
  .h_13 {
    height: 13px;
    /*no*/ }
  .h_14 {
    height: 14px;
    /*no*/ }
  .h_15 {
    height: 15px;
    /*no*/ }
  .h_16 {
    height: 16px;
    /*no*/ }
  .h_17 {
    height: 17px;
    /*no*/ }
  .h_18 {
    height: 18px;
    /*no*/ }
  .h_19 {
    height: 19px;
    /*no*/ }
  .h_20 {
    height: 20px;
    /*no*/ }
  .h_21 {
    height: 21px;
    /*no*/ }
  .h_22 {
    height: 22px;
    /*no*/ }
  .h_23 {
    height: 23px;
    /*no*/ }
  .h_24 {
    height: 24px;
    /*no*/ }
  .h_25 {
    height: 25px;
    /*no*/ }
  .h_26 {
    height: 26px;
    /*no*/ }
  .h_27 {
    height: 27px;
    /*no*/ }
  .h_28 {
    height: 28px;
    /*no*/ }
  .h_29 {
    height: 29px;
    /*no*/ }
  .h_30 {
    height: 30px;
    /*no*/ }
  .h_31 {
    height: 31px;
    /*no*/ }
  .h_32 {
    height: 32px;
    /*no*/ }
  .h_33 {
    height: 33px;
    /*no*/ }
  .h_34 {
    height: 34px;
    /*no*/ }
  .h_35 {
    height: 35px;
    /*no*/ }
  .h_36 {
    height: 36px;
    /*no*/ }
  .h_37 {
    height: 37px;
    /*no*/ }
  .h_38 {
    height: 38px;
    /*no*/ }
  .h_39 {
    height: 39px;
    /*no*/ }
  .h_40 {
    height: 40px;
    /*no*/ }
  .h_41 {
    height: 41px;
    /*no*/ }
  .h_42 {
    height: 42px;
    /*no*/ }
  .h_43 {
    height: 43px;
    /*no*/ }
  .h_44 {
    height: 44px;
    /*no*/ }
  .h_45 {
    height: 45px;
    /*no*/ }
  .h_46 {
    height: 46px;
    /*no*/ }
  .h_47 {
    height: 47px;
    /*no*/ }
  .h_48 {
    height: 48px;
    /*no*/ }
  .h_49 {
    height: 49px;
    /*no*/ }
  .h_50 {
    height: 50px;
    /*no*/ }
  .h_51 {
    height: 51px;
    /*no*/ }
  .h_52 {
    height: 52px;
    /*no*/ }
  .h_53 {
    height: 53px;
    /*no*/ }
  .h_54 {
    height: 54px;
    /*no*/ }
  .h_55 {
    height: 55px;
    /*no*/ }
  .h_56 {
    height: 56px;
    /*no*/ }
  .h_57 {
    height: 57px;
    /*no*/ }
  .h_58 {
    height: 58px;
    /*no*/ }
  .h_59 {
    height: 59px;
    /*no*/ }
  .h_60 {
    height: 60px;
    /*no*/ }
  .h_61 {
    height: 61px;
    /*no*/ }
  .h_62 {
    height: 62px;
    /*no*/ }
  .h_63 {
    height: 63px;
    /*no*/ }
  .h_64 {
    height: 64px;
    /*no*/ }
  .h_65 {
    height: 65px;
    /*no*/ }
  .h_66 {
    height: 66px;
    /*no*/ }
  .h_67 {
    height: 67px;
    /*no*/ }
  .h_68 {
    height: 68px;
    /*no*/ }
  .h_69 {
    height: 69px;
    /*no*/ }
  .h_70 {
    height: 70px;
    /*no*/ }
  .h_71 {
    height: 71px;
    /*no*/ }
  .h_72 {
    height: 72px;
    /*no*/ }
  .h_73 {
    height: 73px;
    /*no*/ }
  .h_74 {
    height: 74px;
    /*no*/ }
  .h_75 {
    height: 75px;
    /*no*/ }
  .h_76 {
    height: 76px;
    /*no*/ }
  .h_77 {
    height: 77px;
    /*no*/ }
  .h_78 {
    height: 78px;
    /*no*/ }
  .h_79 {
    height: 79px;
    /*no*/ }
  .h_80 {
    height: 80px;
    /*no*/ }
  .h_81 {
    height: 81px;
    /*no*/ }
  .h_82 {
    height: 82px;
    /*no*/ }
  .h_83 {
    height: 83px;
    /*no*/ }
  .h_84 {
    height: 84px;
    /*no*/ }
  .h_85 {
    height: 85px;
    /*no*/ }
  .h_86 {
    height: 86px;
    /*no*/ }
  .h_87 {
    height: 87px;
    /*no*/ }
  .h_88 {
    height: 88px;
    /*no*/ }
  .h_89 {
    height: 89px;
    /*no*/ }
  .h_90 {
    height: 90px;
    /*no*/ }
  .h_91 {
    height: 91px;
    /*no*/ }
  .h_92 {
    height: 92px;
    /*no*/ }
  .h_93 {
    height: 93px;
    /*no*/ }
  .h_94 {
    height: 94px;
    /*no*/ }
  .h_95 {
    height: 95px;
    /*no*/ }
  .h_96 {
    height: 96px;
    /*no*/ }
  .h_97 {
    height: 97px;
    /*no*/ }
  .h_98 {
    height: 98px;
    /*no*/ }
  .h_99 {
    height: 99px;
    /*no*/ }
  .h_100 {
    height: 100px;
    /*no*/ }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.justify-center {
  justify-content: center; }

.left_0 {
  left: 0px;
  /*no*/ }

.left_1 {
  left: 1px;
  /*no*/ }

.left_2 {
  left: 2px;
  /*no*/ }

.left_3 {
  left: 3px;
  /*no*/ }

.left_4 {
  left: 4px;
  /*no*/ }

.left_5 {
  left: 5px;
  /*no*/ }

.left_6 {
  left: 6px;
  /*no*/ }

.left_7 {
  left: 7px;
  /*no*/ }

.left_8 {
  left: 8px;
  /*no*/ }

.left_9 {
  left: 9px;
  /*no*/ }

.left_10 {
  left: 10px;
  /*no*/ }

.left_11 {
  left: 11px;
  /*no*/ }

.left_12 {
  left: 12px;
  /*no*/ }

.left_13 {
  left: 13px;
  /*no*/ }

.left_14 {
  left: 14px;
  /*no*/ }

.left_15 {
  left: 15px;
  /*no*/ }

.left_16 {
  left: 16px;
  /*no*/ }

.left_17 {
  left: 17px;
  /*no*/ }

.left_18 {
  left: 18px;
  /*no*/ }

.left_19 {
  left: 19px;
  /*no*/ }

.left_20 {
  left: 20px;
  /*no*/ }

.l-h_0 {
  line-height: 0px;
  /*no*/ }

.l-h_1 {
  line-height: 1px;
  /*no*/ }

.l-h_2 {
  line-height: 2px;
  /*no*/ }

.l-h_3 {
  line-height: 3px;
  /*no*/ }

.l-h_4 {
  line-height: 4px;
  /*no*/ }

.l-h_5 {
  line-height: 5px;
  /*no*/ }

.l-h_6 {
  line-height: 6px;
  /*no*/ }

.l-h_7 {
  line-height: 7px;
  /*no*/ }

.l-h_8 {
  line-height: 8px;
  /*no*/ }

.l-h_9 {
  line-height: 9px;
  /*no*/ }

.l-h_10 {
  line-height: 10px;
  /*no*/ }

.l-h_11 {
  line-height: 11px;
  /*no*/ }

.l-h_12 {
  line-height: 12px;
  /*no*/ }

.l-h_13 {
  line-height: 13px;
  /*no*/ }

.l-h_14 {
  line-height: 14px;
  /*no*/ }

.l-h_15 {
  line-height: 15px;
  /*no*/ }

.l-h_16 {
  line-height: 16px;
  /*no*/ }

.l-h_17 {
  line-height: 17px;
  /*no*/ }

.l-h_18 {
  line-height: 18px;
  /*no*/ }

.l-h_19 {
  line-height: 19px;
  /*no*/ }

.l-h_20 {
  line-height: 20px;
  /*no*/ }

.l-h_21 {
  line-height: 21px;
  /*no*/ }

.l-h_22 {
  line-height: 22px;
  /*no*/ }

.l-h_23 {
  line-height: 23px;
  /*no*/ }

.l-h_24 {
  line-height: 24px;
  /*no*/ }

.l-h_25 {
  line-height: 25px;
  /*no*/ }

.l-h_26 {
  line-height: 26px;
  /*no*/ }

.l-h_27 {
  line-height: 27px;
  /*no*/ }

.l-h_28 {
  line-height: 28px;
  /*no*/ }

.l-h_29 {
  line-height: 29px;
  /*no*/ }

.l-h_30 {
  line-height: 30px;
  /*no*/ }

.l-h_31 {
  line-height: 31px;
  /*no*/ }

.l-h_32 {
  line-height: 32px;
  /*no*/ }

.l-h_33 {
  line-height: 33px;
  /*no*/ }

.l-h_34 {
  line-height: 34px;
  /*no*/ }

.l-h_35 {
  line-height: 35px;
  /*no*/ }

.l-h_36 {
  line-height: 36px;
  /*no*/ }

.l-h_37 {
  line-height: 37px;
  /*no*/ }

.l-h_38 {
  line-height: 38px;
  /*no*/ }

.l-h_39 {
  line-height: 39px;
  /*no*/ }

.l-h_40 {
  line-height: 40px;
  /*no*/ }

.l-h_41 {
  line-height: 41px;
  /*no*/ }

.l-h_42 {
  line-height: 42px;
  /*no*/ }

.l-h_43 {
  line-height: 43px;
  /*no*/ }

.l-h_44 {
  line-height: 44px;
  /*no*/ }

.l-h_45 {
  line-height: 45px;
  /*no*/ }

.l-h_46 {
  line-height: 46px;
  /*no*/ }

.l-h_47 {
  line-height: 47px;
  /*no*/ }

.l-h_48 {
  line-height: 48px;
  /*no*/ }

.l-h_49 {
  line-height: 49px;
  /*no*/ }

.l-h_50 {
  line-height: 50px;
  /*no*/ }

.mg-x_0 {
  margin-left: 0px;
  /*no*/
  margin-right: 0px;
  /*no*/ }

.mg-y_0 {
  margin-top: 0px;
  /*no*/
  margin-bottom: 0px;
  /*no*/ }

.mg-top_0 {
  margin-top: 0px;
  /*no*/ }

.mg-right_0 {
  margin-right: 0px;
  /*no*/ }

.mg-bottom_0 {
  margin-bottom: 0px;
  /*no*/ }

.mg-left_0 {
  margin-left: 0px;
  /*no*/ }

.mg-x_1 {
  margin-left: 1px;
  /*no*/
  margin-right: 1px;
  /*no*/ }

.mg-y_1 {
  margin-top: 1px;
  /*no*/
  margin-bottom: 1px;
  /*no*/ }

.mg-top_1 {
  margin-top: 1px;
  /*no*/ }

.mg-right_1 {
  margin-right: 1px;
  /*no*/ }

.mg-bottom_1 {
  margin-bottom: 1px;
  /*no*/ }

.mg-left_1 {
  margin-left: 1px;
  /*no*/ }

.mg-x_2 {
  margin-left: 2px;
  /*no*/
  margin-right: 2px;
  /*no*/ }

.mg-y_2 {
  margin-top: 2px;
  /*no*/
  margin-bottom: 2px;
  /*no*/ }

.mg-top_2 {
  margin-top: 2px;
  /*no*/ }

.mg-right_2 {
  margin-right: 2px;
  /*no*/ }

.mg-bottom_2 {
  margin-bottom: 2px;
  /*no*/ }

.mg-left_2 {
  margin-left: 2px;
  /*no*/ }

.mg-x_3 {
  margin-left: 3px;
  /*no*/
  margin-right: 3px;
  /*no*/ }

.mg-y_3 {
  margin-top: 3px;
  /*no*/
  margin-bottom: 3px;
  /*no*/ }

.mg-top_3 {
  margin-top: 3px;
  /*no*/ }

.mg-right_3 {
  margin-right: 3px;
  /*no*/ }

.mg-bottom_3 {
  margin-bottom: 3px;
  /*no*/ }

.mg-left_3 {
  margin-left: 3px;
  /*no*/ }

.mg-x_4 {
  margin-left: 4px;
  /*no*/
  margin-right: 4px;
  /*no*/ }

.mg-y_4 {
  margin-top: 4px;
  /*no*/
  margin-bottom: 4px;
  /*no*/ }

.mg-top_4 {
  margin-top: 4px;
  /*no*/ }

.mg-right_4 {
  margin-right: 4px;
  /*no*/ }

.mg-bottom_4 {
  margin-bottom: 4px;
  /*no*/ }

.mg-left_4 {
  margin-left: 4px;
  /*no*/ }

.mg-x_5 {
  margin-left: 5px;
  /*no*/
  margin-right: 5px;
  /*no*/ }

.mg-y_5 {
  margin-top: 5px;
  /*no*/
  margin-bottom: 5px;
  /*no*/ }

.mg-top_5 {
  margin-top: 5px;
  /*no*/ }

.mg-right_5 {
  margin-right: 5px;
  /*no*/ }

.mg-bottom_5 {
  margin-bottom: 5px;
  /*no*/ }

.mg-left_5 {
  margin-left: 5px;
  /*no*/ }

.mg-x_6 {
  margin-left: 6px;
  /*no*/
  margin-right: 6px;
  /*no*/ }

.mg-y_6 {
  margin-top: 6px;
  /*no*/
  margin-bottom: 6px;
  /*no*/ }

.mg-top_6 {
  margin-top: 6px;
  /*no*/ }

.mg-right_6 {
  margin-right: 6px;
  /*no*/ }

.mg-bottom_6 {
  margin-bottom: 6px;
  /*no*/ }

.mg-left_6 {
  margin-left: 6px;
  /*no*/ }

.mg-x_7 {
  margin-left: 7px;
  /*no*/
  margin-right: 7px;
  /*no*/ }

.mg-y_7 {
  margin-top: 7px;
  /*no*/
  margin-bottom: 7px;
  /*no*/ }

.mg-top_7 {
  margin-top: 7px;
  /*no*/ }

.mg-right_7 {
  margin-right: 7px;
  /*no*/ }

.mg-bottom_7 {
  margin-bottom: 7px;
  /*no*/ }

.mg-left_7 {
  margin-left: 7px;
  /*no*/ }

.mg-x_8 {
  margin-left: 8px;
  /*no*/
  margin-right: 8px;
  /*no*/ }

.mg-y_8 {
  margin-top: 8px;
  /*no*/
  margin-bottom: 8px;
  /*no*/ }

.mg-top_8 {
  margin-top: 8px;
  /*no*/ }

.mg-right_8 {
  margin-right: 8px;
  /*no*/ }

.mg-bottom_8 {
  margin-bottom: 8px;
  /*no*/ }

.mg-left_8 {
  margin-left: 8px;
  /*no*/ }

.mg-x_9 {
  margin-left: 9px;
  /*no*/
  margin-right: 9px;
  /*no*/ }

.mg-y_9 {
  margin-top: 9px;
  /*no*/
  margin-bottom: 9px;
  /*no*/ }

.mg-top_9 {
  margin-top: 9px;
  /*no*/ }

.mg-right_9 {
  margin-right: 9px;
  /*no*/ }

.mg-bottom_9 {
  margin-bottom: 9px;
  /*no*/ }

.mg-left_9 {
  margin-left: 9px;
  /*no*/ }

.mg-x_10 {
  margin-left: 10px;
  /*no*/
  margin-right: 10px;
  /*no*/ }

.mg-y_10 {
  margin-top: 10px;
  /*no*/
  margin-bottom: 10px;
  /*no*/ }

.mg-top_10 {
  margin-top: 10px;
  /*no*/ }

.mg-right_10 {
  margin-right: 10px;
  /*no*/ }

.mg-bottom_10 {
  margin-bottom: 10px;
  /*no*/ }

.mg-left_10 {
  margin-left: 10px;
  /*no*/ }

.mg-x_11 {
  margin-left: 11px;
  /*no*/
  margin-right: 11px;
  /*no*/ }

.mg-y_11 {
  margin-top: 11px;
  /*no*/
  margin-bottom: 11px;
  /*no*/ }

.mg-top_11 {
  margin-top: 11px;
  /*no*/ }

.mg-right_11 {
  margin-right: 11px;
  /*no*/ }

.mg-bottom_11 {
  margin-bottom: 11px;
  /*no*/ }

.mg-left_11 {
  margin-left: 11px;
  /*no*/ }

.mg-x_12 {
  margin-left: 12px;
  /*no*/
  margin-right: 12px;
  /*no*/ }

.mg-y_12 {
  margin-top: 12px;
  /*no*/
  margin-bottom: 12px;
  /*no*/ }

.mg-top_12 {
  margin-top: 12px;
  /*no*/ }

.mg-right_12 {
  margin-right: 12px;
  /*no*/ }

.mg-bottom_12 {
  margin-bottom: 12px;
  /*no*/ }

.mg-left_12 {
  margin-left: 12px;
  /*no*/ }

.mg-x_13 {
  margin-left: 13px;
  /*no*/
  margin-right: 13px;
  /*no*/ }

.mg-y_13 {
  margin-top: 13px;
  /*no*/
  margin-bottom: 13px;
  /*no*/ }

.mg-top_13 {
  margin-top: 13px;
  /*no*/ }

.mg-right_13 {
  margin-right: 13px;
  /*no*/ }

.mg-bottom_13 {
  margin-bottom: 13px;
  /*no*/ }

.mg-left_13 {
  margin-left: 13px;
  /*no*/ }

.mg-x_14 {
  margin-left: 14px;
  /*no*/
  margin-right: 14px;
  /*no*/ }

.mg-y_14 {
  margin-top: 14px;
  /*no*/
  margin-bottom: 14px;
  /*no*/ }

.mg-top_14 {
  margin-top: 14px;
  /*no*/ }

.mg-right_14 {
  margin-right: 14px;
  /*no*/ }

.mg-bottom_14 {
  margin-bottom: 14px;
  /*no*/ }

.mg-left_14 {
  margin-left: 14px;
  /*no*/ }

.mg-x_15 {
  margin-left: 15px;
  /*no*/
  margin-right: 15px;
  /*no*/ }

.mg-y_15 {
  margin-top: 15px;
  /*no*/
  margin-bottom: 15px;
  /*no*/ }

.mg-top_15 {
  margin-top: 15px;
  /*no*/ }

.mg-right_15 {
  margin-right: 15px;
  /*no*/ }

.mg-bottom_15 {
  margin-bottom: 15px;
  /*no*/ }

.mg-left_15 {
  margin-left: 15px;
  /*no*/ }

.mg-x_16 {
  margin-left: 16px;
  /*no*/
  margin-right: 16px;
  /*no*/ }

.mg-y_16 {
  margin-top: 16px;
  /*no*/
  margin-bottom: 16px;
  /*no*/ }

.mg-top_16 {
  margin-top: 16px;
  /*no*/ }

.mg-right_16 {
  margin-right: 16px;
  /*no*/ }

.mg-bottom_16 {
  margin-bottom: 16px;
  /*no*/ }

.mg-left_16 {
  margin-left: 16px;
  /*no*/ }

.mg-x_17 {
  margin-left: 17px;
  /*no*/
  margin-right: 17px;
  /*no*/ }

.mg-y_17 {
  margin-top: 17px;
  /*no*/
  margin-bottom: 17px;
  /*no*/ }

.mg-top_17 {
  margin-top: 17px;
  /*no*/ }

.mg-right_17 {
  margin-right: 17px;
  /*no*/ }

.mg-bottom_17 {
  margin-bottom: 17px;
  /*no*/ }

.mg-left_17 {
  margin-left: 17px;
  /*no*/ }

.mg-x_18 {
  margin-left: 18px;
  /*no*/
  margin-right: 18px;
  /*no*/ }

.mg-y_18 {
  margin-top: 18px;
  /*no*/
  margin-bottom: 18px;
  /*no*/ }

.mg-top_18 {
  margin-top: 18px;
  /*no*/ }

.mg-right_18 {
  margin-right: 18px;
  /*no*/ }

.mg-bottom_18 {
  margin-bottom: 18px;
  /*no*/ }

.mg-left_18 {
  margin-left: 18px;
  /*no*/ }

.mg-x_19 {
  margin-left: 19px;
  /*no*/
  margin-right: 19px;
  /*no*/ }

.mg-y_19 {
  margin-top: 19px;
  /*no*/
  margin-bottom: 19px;
  /*no*/ }

.mg-top_19 {
  margin-top: 19px;
  /*no*/ }

.mg-right_19 {
  margin-right: 19px;
  /*no*/ }

.mg-bottom_19 {
  margin-bottom: 19px;
  /*no*/ }

.mg-left_19 {
  margin-left: 19px;
  /*no*/ }

.mg-x_20 {
  margin-left: 20px;
  /*no*/
  margin-right: 20px;
  /*no*/ }

.mg-y_20 {
  margin-top: 20px;
  /*no*/
  margin-bottom: 20px;
  /*no*/ }

.mg-top_20 {
  margin-top: 20px;
  /*no*/ }

.mg-right_20 {
  margin-right: 20px;
  /*no*/ }

.mg-bottom_20 {
  margin-bottom: 20px;
  /*no*/ }

.mg-left_20 {
  margin-left: 20px;
  /*no*/ }

.mg-x_21 {
  margin-left: 21px;
  /*no*/
  margin-right: 21px;
  /*no*/ }

.mg-y_21 {
  margin-top: 21px;
  /*no*/
  margin-bottom: 21px;
  /*no*/ }

.mg-top_21 {
  margin-top: 21px;
  /*no*/ }

.mg-right_21 {
  margin-right: 21px;
  /*no*/ }

.mg-bottom_21 {
  margin-bottom: 21px;
  /*no*/ }

.mg-left_21 {
  margin-left: 21px;
  /*no*/ }

.mg-x_22 {
  margin-left: 22px;
  /*no*/
  margin-right: 22px;
  /*no*/ }

.mg-y_22 {
  margin-top: 22px;
  /*no*/
  margin-bottom: 22px;
  /*no*/ }

.mg-top_22 {
  margin-top: 22px;
  /*no*/ }

.mg-right_22 {
  margin-right: 22px;
  /*no*/ }

.mg-bottom_22 {
  margin-bottom: 22px;
  /*no*/ }

.mg-left_22 {
  margin-left: 22px;
  /*no*/ }

.mg-x_23 {
  margin-left: 23px;
  /*no*/
  margin-right: 23px;
  /*no*/ }

.mg-y_23 {
  margin-top: 23px;
  /*no*/
  margin-bottom: 23px;
  /*no*/ }

.mg-top_23 {
  margin-top: 23px;
  /*no*/ }

.mg-right_23 {
  margin-right: 23px;
  /*no*/ }

.mg-bottom_23 {
  margin-bottom: 23px;
  /*no*/ }

.mg-left_23 {
  margin-left: 23px;
  /*no*/ }

.mg-x_24 {
  margin-left: 24px;
  /*no*/
  margin-right: 24px;
  /*no*/ }

.mg-y_24 {
  margin-top: 24px;
  /*no*/
  margin-bottom: 24px;
  /*no*/ }

.mg-top_24 {
  margin-top: 24px;
  /*no*/ }

.mg-right_24 {
  margin-right: 24px;
  /*no*/ }

.mg-bottom_24 {
  margin-bottom: 24px;
  /*no*/ }

.mg-left_24 {
  margin-left: 24px;
  /*no*/ }

.mg-x_25 {
  margin-left: 25px;
  /*no*/
  margin-right: 25px;
  /*no*/ }

.mg-y_25 {
  margin-top: 25px;
  /*no*/
  margin-bottom: 25px;
  /*no*/ }

.mg-top_25 {
  margin-top: 25px;
  /*no*/ }

.mg-right_25 {
  margin-right: 25px;
  /*no*/ }

.mg-bottom_25 {
  margin-bottom: 25px;
  /*no*/ }

.mg-left_25 {
  margin-left: 25px;
  /*no*/ }

.mg-x_26 {
  margin-left: 26px;
  /*no*/
  margin-right: 26px;
  /*no*/ }

.mg-y_26 {
  margin-top: 26px;
  /*no*/
  margin-bottom: 26px;
  /*no*/ }

.mg-top_26 {
  margin-top: 26px;
  /*no*/ }

.mg-right_26 {
  margin-right: 26px;
  /*no*/ }

.mg-bottom_26 {
  margin-bottom: 26px;
  /*no*/ }

.mg-left_26 {
  margin-left: 26px;
  /*no*/ }

.mg-x_27 {
  margin-left: 27px;
  /*no*/
  margin-right: 27px;
  /*no*/ }

.mg-y_27 {
  margin-top: 27px;
  /*no*/
  margin-bottom: 27px;
  /*no*/ }

.mg-top_27 {
  margin-top: 27px;
  /*no*/ }

.mg-right_27 {
  margin-right: 27px;
  /*no*/ }

.mg-bottom_27 {
  margin-bottom: 27px;
  /*no*/ }

.mg-left_27 {
  margin-left: 27px;
  /*no*/ }

.mg-x_28 {
  margin-left: 28px;
  /*no*/
  margin-right: 28px;
  /*no*/ }

.mg-y_28 {
  margin-top: 28px;
  /*no*/
  margin-bottom: 28px;
  /*no*/ }

.mg-top_28 {
  margin-top: 28px;
  /*no*/ }

.mg-right_28 {
  margin-right: 28px;
  /*no*/ }

.mg-bottom_28 {
  margin-bottom: 28px;
  /*no*/ }

.mg-left_28 {
  margin-left: 28px;
  /*no*/ }

.mg-x_29 {
  margin-left: 29px;
  /*no*/
  margin-right: 29px;
  /*no*/ }

.mg-y_29 {
  margin-top: 29px;
  /*no*/
  margin-bottom: 29px;
  /*no*/ }

.mg-top_29 {
  margin-top: 29px;
  /*no*/ }

.mg-right_29 {
  margin-right: 29px;
  /*no*/ }

.mg-bottom_29 {
  margin-bottom: 29px;
  /*no*/ }

.mg-left_29 {
  margin-left: 29px;
  /*no*/ }

.mg-x_30 {
  margin-left: 30px;
  /*no*/
  margin-right: 30px;
  /*no*/ }

.mg-y_30 {
  margin-top: 30px;
  /*no*/
  margin-bottom: 30px;
  /*no*/ }

.mg-top_30 {
  margin-top: 30px;
  /*no*/ }

.mg-right_30 {
  margin-right: 30px;
  /*no*/ }

.mg-bottom_30 {
  margin-bottom: 30px;
  /*no*/ }

.mg-left_30 {
  margin-left: 30px;
  /*no*/ }

.mg-auto {
  margin: auto; }
  .mg-auto-x {
    margin-left: auto;
    margin-right: auto; }
  .mg-auto-y {
    margin-top: auto;
    margin-bottom: auto; }
  .mg-auto-top {
    margin-top: auto; }
  .mg-auto-right {
    margin-right: auto; }
  .mg-auto-bottom {
    margin-bottom: auto; }
  .mg-auto-left {
    margin-left: auto; }

.hidden {
  overflow: hidden; }

.scroll_y {
  overflow-y: scroll; }
  .scroll_y_a {
    overflow-y: auto; }

.scroll_x {
  overflow-x: scroll; }
  .scroll_x_a {
    overflow-x: auto; }

.pd_0 {
  padding: 0px;
  /*no*/ }

.pd-x_0 {
  padding-left: 0px;
  /*no*/
  padding-right: 0px;
  /*no*/ }

.pd-y_0 {
  padding-top: 0px;
  /*no*/
  padding-bottom: 0px;
  /*no*/ }

.pd-left_0 {
  padding-left: 0px;
  /*no*/ }

.pd-right_0 {
  padding-right: 0px;
  /*no*/ }

.pd-top_0 {
  padding-top: 0px;
  /*no*/ }

.pd-bottom_0 {
  padding-bottom: 0px;
  /*no*/ }

.pd_1 {
  padding: 1px;
  /*no*/ }

.pd-x_1 {
  padding-left: 1px;
  /*no*/
  padding-right: 1px;
  /*no*/ }

.pd-y_1 {
  padding-top: 1px;
  /*no*/
  padding-bottom: 1px;
  /*no*/ }

.pd-left_1 {
  padding-left: 1px;
  /*no*/ }

.pd-right_1 {
  padding-right: 1px;
  /*no*/ }

.pd-top_1 {
  padding-top: 1px;
  /*no*/ }

.pd-bottom_1 {
  padding-bottom: 1px;
  /*no*/ }

.pd_2 {
  padding: 2px;
  /*no*/ }

.pd-x_2 {
  padding-left: 2px;
  /*no*/
  padding-right: 2px;
  /*no*/ }

.pd-y_2 {
  padding-top: 2px;
  /*no*/
  padding-bottom: 2px;
  /*no*/ }

.pd-left_2 {
  padding-left: 2px;
  /*no*/ }

.pd-right_2 {
  padding-right: 2px;
  /*no*/ }

.pd-top_2 {
  padding-top: 2px;
  /*no*/ }

.pd-bottom_2 {
  padding-bottom: 2px;
  /*no*/ }

.pd_3 {
  padding: 3px;
  /*no*/ }

.pd-x_3 {
  padding-left: 3px;
  /*no*/
  padding-right: 3px;
  /*no*/ }

.pd-y_3 {
  padding-top: 3px;
  /*no*/
  padding-bottom: 3px;
  /*no*/ }

.pd-left_3 {
  padding-left: 3px;
  /*no*/ }

.pd-right_3 {
  padding-right: 3px;
  /*no*/ }

.pd-top_3 {
  padding-top: 3px;
  /*no*/ }

.pd-bottom_3 {
  padding-bottom: 3px;
  /*no*/ }

.pd_4 {
  padding: 4px;
  /*no*/ }

.pd-x_4 {
  padding-left: 4px;
  /*no*/
  padding-right: 4px;
  /*no*/ }

.pd-y_4 {
  padding-top: 4px;
  /*no*/
  padding-bottom: 4px;
  /*no*/ }

.pd-left_4 {
  padding-left: 4px;
  /*no*/ }

.pd-right_4 {
  padding-right: 4px;
  /*no*/ }

.pd-top_4 {
  padding-top: 4px;
  /*no*/ }

.pd-bottom_4 {
  padding-bottom: 4px;
  /*no*/ }

.pd_5 {
  padding: 5px;
  /*no*/ }

.pd-x_5 {
  padding-left: 5px;
  /*no*/
  padding-right: 5px;
  /*no*/ }

.pd-y_5 {
  padding-top: 5px;
  /*no*/
  padding-bottom: 5px;
  /*no*/ }

.pd-left_5 {
  padding-left: 5px;
  /*no*/ }

.pd-right_5 {
  padding-right: 5px;
  /*no*/ }

.pd-top_5 {
  padding-top: 5px;
  /*no*/ }

.pd-bottom_5 {
  padding-bottom: 5px;
  /*no*/ }

.pd_6 {
  padding: 6px;
  /*no*/ }

.pd-x_6 {
  padding-left: 6px;
  /*no*/
  padding-right: 6px;
  /*no*/ }

.pd-y_6 {
  padding-top: 6px;
  /*no*/
  padding-bottom: 6px;
  /*no*/ }

.pd-left_6 {
  padding-left: 6px;
  /*no*/ }

.pd-right_6 {
  padding-right: 6px;
  /*no*/ }

.pd-top_6 {
  padding-top: 6px;
  /*no*/ }

.pd-bottom_6 {
  padding-bottom: 6px;
  /*no*/ }

.pd_7 {
  padding: 7px;
  /*no*/ }

.pd-x_7 {
  padding-left: 7px;
  /*no*/
  padding-right: 7px;
  /*no*/ }

.pd-y_7 {
  padding-top: 7px;
  /*no*/
  padding-bottom: 7px;
  /*no*/ }

.pd-left_7 {
  padding-left: 7px;
  /*no*/ }

.pd-right_7 {
  padding-right: 7px;
  /*no*/ }

.pd-top_7 {
  padding-top: 7px;
  /*no*/ }

.pd-bottom_7 {
  padding-bottom: 7px;
  /*no*/ }

.pd_8 {
  padding: 8px;
  /*no*/ }

.pd-x_8 {
  padding-left: 8px;
  /*no*/
  padding-right: 8px;
  /*no*/ }

.pd-y_8 {
  padding-top: 8px;
  /*no*/
  padding-bottom: 8px;
  /*no*/ }

.pd-left_8 {
  padding-left: 8px;
  /*no*/ }

.pd-right_8 {
  padding-right: 8px;
  /*no*/ }

.pd-top_8 {
  padding-top: 8px;
  /*no*/ }

.pd-bottom_8 {
  padding-bottom: 8px;
  /*no*/ }

.pd_9 {
  padding: 9px;
  /*no*/ }

.pd-x_9 {
  padding-left: 9px;
  /*no*/
  padding-right: 9px;
  /*no*/ }

.pd-y_9 {
  padding-top: 9px;
  /*no*/
  padding-bottom: 9px;
  /*no*/ }

.pd-left_9 {
  padding-left: 9px;
  /*no*/ }

.pd-right_9 {
  padding-right: 9px;
  /*no*/ }

.pd-top_9 {
  padding-top: 9px;
  /*no*/ }

.pd-bottom_9 {
  padding-bottom: 9px;
  /*no*/ }

.pd_10 {
  padding: 10px;
  /*no*/ }

.pd-x_10 {
  padding-left: 10px;
  /*no*/
  padding-right: 10px;
  /*no*/ }

.pd-y_10 {
  padding-top: 10px;
  /*no*/
  padding-bottom: 10px;
  /*no*/ }

.pd-left_10 {
  padding-left: 10px;
  /*no*/ }

.pd-right_10 {
  padding-right: 10px;
  /*no*/ }

.pd-top_10 {
  padding-top: 10px;
  /*no*/ }

.pd-bottom_10 {
  padding-bottom: 10px;
  /*no*/ }

.pd_11 {
  padding: 11px;
  /*no*/ }

.pd-x_11 {
  padding-left: 11px;
  /*no*/
  padding-right: 11px;
  /*no*/ }

.pd-y_11 {
  padding-top: 11px;
  /*no*/
  padding-bottom: 11px;
  /*no*/ }

.pd-left_11 {
  padding-left: 11px;
  /*no*/ }

.pd-right_11 {
  padding-right: 11px;
  /*no*/ }

.pd-top_11 {
  padding-top: 11px;
  /*no*/ }

.pd-bottom_11 {
  padding-bottom: 11px;
  /*no*/ }

.pd_12 {
  padding: 12px;
  /*no*/ }

.pd-x_12 {
  padding-left: 12px;
  /*no*/
  padding-right: 12px;
  /*no*/ }

.pd-y_12 {
  padding-top: 12px;
  /*no*/
  padding-bottom: 12px;
  /*no*/ }

.pd-left_12 {
  padding-left: 12px;
  /*no*/ }

.pd-right_12 {
  padding-right: 12px;
  /*no*/ }

.pd-top_12 {
  padding-top: 12px;
  /*no*/ }

.pd-bottom_12 {
  padding-bottom: 12px;
  /*no*/ }

.pd_13 {
  padding: 13px;
  /*no*/ }

.pd-x_13 {
  padding-left: 13px;
  /*no*/
  padding-right: 13px;
  /*no*/ }

.pd-y_13 {
  padding-top: 13px;
  /*no*/
  padding-bottom: 13px;
  /*no*/ }

.pd-left_13 {
  padding-left: 13px;
  /*no*/ }

.pd-right_13 {
  padding-right: 13px;
  /*no*/ }

.pd-top_13 {
  padding-top: 13px;
  /*no*/ }

.pd-bottom_13 {
  padding-bottom: 13px;
  /*no*/ }

.pd_14 {
  padding: 14px;
  /*no*/ }

.pd-x_14 {
  padding-left: 14px;
  /*no*/
  padding-right: 14px;
  /*no*/ }

.pd-y_14 {
  padding-top: 14px;
  /*no*/
  padding-bottom: 14px;
  /*no*/ }

.pd-left_14 {
  padding-left: 14px;
  /*no*/ }

.pd-right_14 {
  padding-right: 14px;
  /*no*/ }

.pd-top_14 {
  padding-top: 14px;
  /*no*/ }

.pd-bottom_14 {
  padding-bottom: 14px;
  /*no*/ }

.pd_15 {
  padding: 15px;
  /*no*/ }

.pd-x_15 {
  padding-left: 15px;
  /*no*/
  padding-right: 15px;
  /*no*/ }

.pd-y_15 {
  padding-top: 15px;
  /*no*/
  padding-bottom: 15px;
  /*no*/ }

.pd-left_15 {
  padding-left: 15px;
  /*no*/ }

.pd-right_15 {
  padding-right: 15px;
  /*no*/ }

.pd-top_15 {
  padding-top: 15px;
  /*no*/ }

.pd-bottom_15 {
  padding-bottom: 15px;
  /*no*/ }

.pd_16 {
  padding: 16px;
  /*no*/ }

.pd-x_16 {
  padding-left: 16px;
  /*no*/
  padding-right: 16px;
  /*no*/ }

.pd-y_16 {
  padding-top: 16px;
  /*no*/
  padding-bottom: 16px;
  /*no*/ }

.pd-left_16 {
  padding-left: 16px;
  /*no*/ }

.pd-right_16 {
  padding-right: 16px;
  /*no*/ }

.pd-top_16 {
  padding-top: 16px;
  /*no*/ }

.pd-bottom_16 {
  padding-bottom: 16px;
  /*no*/ }

.pd_17 {
  padding: 17px;
  /*no*/ }

.pd-x_17 {
  padding-left: 17px;
  /*no*/
  padding-right: 17px;
  /*no*/ }

.pd-y_17 {
  padding-top: 17px;
  /*no*/
  padding-bottom: 17px;
  /*no*/ }

.pd-left_17 {
  padding-left: 17px;
  /*no*/ }

.pd-right_17 {
  padding-right: 17px;
  /*no*/ }

.pd-top_17 {
  padding-top: 17px;
  /*no*/ }

.pd-bottom_17 {
  padding-bottom: 17px;
  /*no*/ }

.pd_18 {
  padding: 18px;
  /*no*/ }

.pd-x_18 {
  padding-left: 18px;
  /*no*/
  padding-right: 18px;
  /*no*/ }

.pd-y_18 {
  padding-top: 18px;
  /*no*/
  padding-bottom: 18px;
  /*no*/ }

.pd-left_18 {
  padding-left: 18px;
  /*no*/ }

.pd-right_18 {
  padding-right: 18px;
  /*no*/ }

.pd-top_18 {
  padding-top: 18px;
  /*no*/ }

.pd-bottom_18 {
  padding-bottom: 18px;
  /*no*/ }

.pd_19 {
  padding: 19px;
  /*no*/ }

.pd-x_19 {
  padding-left: 19px;
  /*no*/
  padding-right: 19px;
  /*no*/ }

.pd-y_19 {
  padding-top: 19px;
  /*no*/
  padding-bottom: 19px;
  /*no*/ }

.pd-left_19 {
  padding-left: 19px;
  /*no*/ }

.pd-right_19 {
  padding-right: 19px;
  /*no*/ }

.pd-top_19 {
  padding-top: 19px;
  /*no*/ }

.pd-bottom_19 {
  padding-bottom: 19px;
  /*no*/ }

.pd_20 {
  padding: 20px;
  /*no*/ }

.pd-x_20 {
  padding-left: 20px;
  /*no*/
  padding-right: 20px;
  /*no*/ }

.pd-y_20 {
  padding-top: 20px;
  /*no*/
  padding-bottom: 20px;
  /*no*/ }

.pd-left_20 {
  padding-left: 20px;
  /*no*/ }

.pd-right_20 {
  padding-right: 20px;
  /*no*/ }

.pd-top_20 {
  padding-top: 20px;
  /*no*/ }

.pd-bottom_20 {
  padding-bottom: 20px;
  /*no*/ }

.pd_21 {
  padding: 21px;
  /*no*/ }

.pd-x_21 {
  padding-left: 21px;
  /*no*/
  padding-right: 21px;
  /*no*/ }

.pd-y_21 {
  padding-top: 21px;
  /*no*/
  padding-bottom: 21px;
  /*no*/ }

.pd-left_21 {
  padding-left: 21px;
  /*no*/ }

.pd-right_21 {
  padding-right: 21px;
  /*no*/ }

.pd-top_21 {
  padding-top: 21px;
  /*no*/ }

.pd-bottom_21 {
  padding-bottom: 21px;
  /*no*/ }

.pd_22 {
  padding: 22px;
  /*no*/ }

.pd-x_22 {
  padding-left: 22px;
  /*no*/
  padding-right: 22px;
  /*no*/ }

.pd-y_22 {
  padding-top: 22px;
  /*no*/
  padding-bottom: 22px;
  /*no*/ }

.pd-left_22 {
  padding-left: 22px;
  /*no*/ }

.pd-right_22 {
  padding-right: 22px;
  /*no*/ }

.pd-top_22 {
  padding-top: 22px;
  /*no*/ }

.pd-bottom_22 {
  padding-bottom: 22px;
  /*no*/ }

.pd_23 {
  padding: 23px;
  /*no*/ }

.pd-x_23 {
  padding-left: 23px;
  /*no*/
  padding-right: 23px;
  /*no*/ }

.pd-y_23 {
  padding-top: 23px;
  /*no*/
  padding-bottom: 23px;
  /*no*/ }

.pd-left_23 {
  padding-left: 23px;
  /*no*/ }

.pd-right_23 {
  padding-right: 23px;
  /*no*/ }

.pd-top_23 {
  padding-top: 23px;
  /*no*/ }

.pd-bottom_23 {
  padding-bottom: 23px;
  /*no*/ }

.pd_24 {
  padding: 24px;
  /*no*/ }

.pd-x_24 {
  padding-left: 24px;
  /*no*/
  padding-right: 24px;
  /*no*/ }

.pd-y_24 {
  padding-top: 24px;
  /*no*/
  padding-bottom: 24px;
  /*no*/ }

.pd-left_24 {
  padding-left: 24px;
  /*no*/ }

.pd-right_24 {
  padding-right: 24px;
  /*no*/ }

.pd-top_24 {
  padding-top: 24px;
  /*no*/ }

.pd-bottom_24 {
  padding-bottom: 24px;
  /*no*/ }

.pd_25 {
  padding: 25px;
  /*no*/ }

.pd-x_25 {
  padding-left: 25px;
  /*no*/
  padding-right: 25px;
  /*no*/ }

.pd-y_25 {
  padding-top: 25px;
  /*no*/
  padding-bottom: 25px;
  /*no*/ }

.pd-left_25 {
  padding-left: 25px;
  /*no*/ }

.pd-right_25 {
  padding-right: 25px;
  /*no*/ }

.pd-top_25 {
  padding-top: 25px;
  /*no*/ }

.pd-bottom_25 {
  padding-bottom: 25px;
  /*no*/ }

.pd_26 {
  padding: 26px;
  /*no*/ }

.pd-x_26 {
  padding-left: 26px;
  /*no*/
  padding-right: 26px;
  /*no*/ }

.pd-y_26 {
  padding-top: 26px;
  /*no*/
  padding-bottom: 26px;
  /*no*/ }

.pd-left_26 {
  padding-left: 26px;
  /*no*/ }

.pd-right_26 {
  padding-right: 26px;
  /*no*/ }

.pd-top_26 {
  padding-top: 26px;
  /*no*/ }

.pd-bottom_26 {
  padding-bottom: 26px;
  /*no*/ }

.pd_27 {
  padding: 27px;
  /*no*/ }

.pd-x_27 {
  padding-left: 27px;
  /*no*/
  padding-right: 27px;
  /*no*/ }

.pd-y_27 {
  padding-top: 27px;
  /*no*/
  padding-bottom: 27px;
  /*no*/ }

.pd-left_27 {
  padding-left: 27px;
  /*no*/ }

.pd-right_27 {
  padding-right: 27px;
  /*no*/ }

.pd-top_27 {
  padding-top: 27px;
  /*no*/ }

.pd-bottom_27 {
  padding-bottom: 27px;
  /*no*/ }

.pd_28 {
  padding: 28px;
  /*no*/ }

.pd-x_28 {
  padding-left: 28px;
  /*no*/
  padding-right: 28px;
  /*no*/ }

.pd-y_28 {
  padding-top: 28px;
  /*no*/
  padding-bottom: 28px;
  /*no*/ }

.pd-left_28 {
  padding-left: 28px;
  /*no*/ }

.pd-right_28 {
  padding-right: 28px;
  /*no*/ }

.pd-top_28 {
  padding-top: 28px;
  /*no*/ }

.pd-bottom_28 {
  padding-bottom: 28px;
  /*no*/ }

.pd_29 {
  padding: 29px;
  /*no*/ }

.pd-x_29 {
  padding-left: 29px;
  /*no*/
  padding-right: 29px;
  /*no*/ }

.pd-y_29 {
  padding-top: 29px;
  /*no*/
  padding-bottom: 29px;
  /*no*/ }

.pd-left_29 {
  padding-left: 29px;
  /*no*/ }

.pd-right_29 {
  padding-right: 29px;
  /*no*/ }

.pd-top_29 {
  padding-top: 29px;
  /*no*/ }

.pd-bottom_29 {
  padding-bottom: 29px;
  /*no*/ }

.pd_30 {
  padding: 30px;
  /*no*/ }

.pd-x_30 {
  padding-left: 30px;
  /*no*/
  padding-right: 30px;
  /*no*/ }

.pd-y_30 {
  padding-top: 30px;
  /*no*/
  padding-bottom: 30px;
  /*no*/ }

.pd-left_30 {
  padding-left: 30px;
  /*no*/ }

.pd-right_30 {
  padding-right: 30px;
  /*no*/ }

.pd-top_30 {
  padding-top: 30px;
  /*no*/ }

.pd-bottom_30 {
  padding-bottom: 30px;
  /*no*/ }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.rds {
  border-radius: 100%; }
  .rds_0 {
    border-radius: 0px;
    /*no*/ }
  .rds_1 {
    border-radius: 1px;
    /*no*/ }
  .rds_2 {
    border-radius: 2px;
    /*no*/ }
  .rds_3 {
    border-radius: 3px;
    /*no*/ }
  .rds_4 {
    border-radius: 4px;
    /*no*/ }
  .rds_5 {
    border-radius: 5px;
    /*no*/ }
  .rds_6 {
    border-radius: 6px;
    /*no*/ }
  .rds_7 {
    border-radius: 7px;
    /*no*/ }
  .rds_8 {
    border-radius: 8px;
    /*no*/ }
  .rds_9 {
    border-radius: 9px;
    /*no*/ }
  .rds_10 {
    border-radius: 10px;
    /*no*/ }
  .rds_11 {
    border-radius: 11px;
    /*no*/ }
  .rds_12 {
    border-radius: 12px;
    /*no*/ }
  .rds_13 {
    border-radius: 13px;
    /*no*/ }
  .rds_14 {
    border-radius: 14px;
    /*no*/ }
  .rds_15 {
    border-radius: 15px;
    /*no*/ }
  .rds_16 {
    border-radius: 16px;
    /*no*/ }
  .rds_17 {
    border-radius: 17px;
    /*no*/ }
  .rds_18 {
    border-radius: 18px;
    /*no*/ }
  .rds_19 {
    border-radius: 19px;
    /*no*/ }
  .rds_20 {
    border-radius: 20px;
    /*no*/ }

.right_0 {
  right: 0px;
  /*no*/ }

.right_1 {
  right: 1px;
  /*no*/ }

.right_2 {
  right: 2px;
  /*no*/ }

.right_3 {
  right: 3px;
  /*no*/ }

.right_4 {
  right: 4px;
  /*no*/ }

.right_5 {
  right: 5px;
  /*no*/ }

.right_6 {
  right: 6px;
  /*no*/ }

.right_7 {
  right: 7px;
  /*no*/ }

.right_8 {
  right: 8px;
  /*no*/ }

.right_9 {
  right: 9px;
  /*no*/ }

.right_10 {
  right: 10px;
  /*no*/ }

.right_11 {
  right: 11px;
  /*no*/ }

.right_12 {
  right: 12px;
  /*no*/ }

.right_13 {
  right: 13px;
  /*no*/ }

.right_14 {
  right: 14px;
  /*no*/ }

.right_15 {
  right: 15px;
  /*no*/ }

.right_16 {
  right: 16px;
  /*no*/ }

.right_17 {
  right: 17px;
  /*no*/ }

.right_18 {
  right: 18px;
  /*no*/ }

.right_19 {
  right: 19px;
  /*no*/ }

.right_20 {
  right: 20px;
  /*no*/ }

.tx-uline {
  text-decoration: underline; }

.tx-center {
  text-align: center; }

.tx-right {
  text-align: right; }

.tx-left {
  text-align: left; }

.tx-clamp_1 {
  display: flex;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all; }

.tx-clamp_2 {
  display: flex;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all; }

.tx-ellipsis {
  text-overflow: ellipsis; }

.tx-underline {
  text-decoration: underline; }

.top_0 {
  top: 0px;
  /*no*/ }

.top_1 {
  top: 1px;
  /*no*/ }

.top_2 {
  top: 2px;
  /*no*/ }

.top_3 {
  top: 3px;
  /*no*/ }

.top_4 {
  top: 4px;
  /*no*/ }

.top_5 {
  top: 5px;
  /*no*/ }

.top_6 {
  top: 6px;
  /*no*/ }

.top_7 {
  top: 7px;
  /*no*/ }

.top_8 {
  top: 8px;
  /*no*/ }

.top_9 {
  top: 9px;
  /*no*/ }

.top_10 {
  top: 10px;
  /*no*/ }

.top_11 {
  top: 11px;
  /*no*/ }

.top_12 {
  top: 12px;
  /*no*/ }

.top_13 {
  top: 13px;
  /*no*/ }

.top_14 {
  top: 14px;
  /*no*/ }

.top_15 {
  top: 15px;
  /*no*/ }

.top_16 {
  top: 16px;
  /*no*/ }

.top_17 {
  top: 17px;
  /*no*/ }

.top_18 {
  top: 18px;
  /*no*/ }

.top_19 {
  top: 19px;
  /*no*/ }

.top_20 {
  top: 20px;
  /*no*/ }

.bottom_0 {
  bottom: 0px;
  /*no*/ }

.bottom_1 {
  bottom: 1px;
  /*no*/ }

.bottom_2 {
  bottom: 2px;
  /*no*/ }

.bottom_3 {
  bottom: 3px;
  /*no*/ }

.bottom_4 {
  bottom: 4px;
  /*no*/ }

.bottom_5 {
  bottom: 5px;
  /*no*/ }

.bottom_6 {
  bottom: 6px;
  /*no*/ }

.bottom_7 {
  bottom: 7px;
  /*no*/ }

.bottom_8 {
  bottom: 8px;
  /*no*/ }

.bottom_9 {
  bottom: 9px;
  /*no*/ }

.bottom_10 {
  bottom: 10px;
  /*no*/ }

.w {
  width: 100%; }
  .w-auto {
    width: auto; }
  .w_0 {
    width: 0px;
    /*no*/ }
  .w_1 {
    width: 1px;
    /*no*/ }
  .w_2 {
    width: 2px;
    /*no*/ }
  .w_3 {
    width: 3px;
    /*no*/ }
  .w_4 {
    width: 4px;
    /*no*/ }
  .w_5 {
    width: 5px;
    /*no*/ }
  .w_6 {
    width: 6px;
    /*no*/ }
  .w_7 {
    width: 7px;
    /*no*/ }
  .w_8 {
    width: 8px;
    /*no*/ }
  .w_9 {
    width: 9px;
    /*no*/ }
  .w_10 {
    width: 10px;
    /*no*/ }
  .w_11 {
    width: 11px;
    /*no*/ }
  .w_12 {
    width: 12px;
    /*no*/ }
  .w_13 {
    width: 13px;
    /*no*/ }
  .w_14 {
    width: 14px;
    /*no*/ }
  .w_15 {
    width: 15px;
    /*no*/ }
  .w_16 {
    width: 16px;
    /*no*/ }
  .w_17 {
    width: 17px;
    /*no*/ }
  .w_18 {
    width: 18px;
    /*no*/ }
  .w_19 {
    width: 19px;
    /*no*/ }
  .w_20 {
    width: 20px;
    /*no*/ }
  .w_21 {
    width: 21px;
    /*no*/ }
  .w_22 {
    width: 22px;
    /*no*/ }
  .w_23 {
    width: 23px;
    /*no*/ }
  .w_24 {
    width: 24px;
    /*no*/ }
  .w_25 {
    width: 25px;
    /*no*/ }
  .w_26 {
    width: 26px;
    /*no*/ }
  .w_27 {
    width: 27px;
    /*no*/ }
  .w_28 {
    width: 28px;
    /*no*/ }
  .w_29 {
    width: 29px;
    /*no*/ }
  .w_30 {
    width: 30px;
    /*no*/ }
  .w_31 {
    width: 31px;
    /*no*/ }
  .w_32 {
    width: 32px;
    /*no*/ }
  .w_33 {
    width: 33px;
    /*no*/ }
  .w_34 {
    width: 34px;
    /*no*/ }
  .w_35 {
    width: 35px;
    /*no*/ }
  .w_36 {
    width: 36px;
    /*no*/ }
  .w_37 {
    width: 37px;
    /*no*/ }
  .w_38 {
    width: 38px;
    /*no*/ }
  .w_39 {
    width: 39px;
    /*no*/ }
  .w_40 {
    width: 40px;
    /*no*/ }
  .w_41 {
    width: 41px;
    /*no*/ }
  .w_42 {
    width: 42px;
    /*no*/ }
  .w_43 {
    width: 43px;
    /*no*/ }
  .w_44 {
    width: 44px;
    /*no*/ }
  .w_45 {
    width: 45px;
    /*no*/ }
  .w_46 {
    width: 46px;
    /*no*/ }
  .w_47 {
    width: 47px;
    /*no*/ }
  .w_48 {
    width: 48px;
    /*no*/ }
  .w_49 {
    width: 49px;
    /*no*/ }
  .w_50 {
    width: 50px;
    /*no*/ }

.word-break {
  word-break: break-all; }

.z_0 {
  z-index: 0; }

.z_1 {
  z-index: 1; }

.z_2 {
  z-index: 2; }

.z_9 {
  z-index: 2; }

.z_99 {
  z-index: 99; }

.z_999 {
  z-index: 999; }

.z_9999 {
  z-index: 9999; }

.z_99999 {
  z-index: 99999; }
