$margin:mg!default;
$margin-x:-x!default;
$margin-y:-y!default;
@for $i from 0 through 40 {
  .#{$margin} {
    margin: #{$i}px;
    &#{$margin-x} {
      &_#{$i} {
        margin-left:#{$i}px;/*px*/
        margin-right:#{$i}px;/*px*/
      }
    }
    &#{$margin-y} {
      &_#{$i} {
        margin-top:#{$i}px;/*px*/
        margin-bottom:#{$i}px;/*px*/
      }
    }
    &-top {
      &_#{$i} {
        margin-top:#{$i}px;/*px*/
      }
    }
    &-right {
      &_#{$i} {
        margin-right:#{$i}px;/*px*/
      }
    }
    &-bottom {
      &_#{$i} {
        margin-bottom:#{$i}px;/*px*/
      }
    }
    &-left {
      &_#{$i} {
        margin-left:#{$i}px;/*px*/
      }
    }
  }
}

.#{$margin} {
  &-auto {
    margin: auto;
    &#{$margin-x} {
      margin-left: auto;
      margin-right: auto;
    }
    &#{$margin-y} {
      margin-top: auto;
      margin-bottom: auto;
    }
    &-top {
      margin-top: auto;
    }
    &-right {
      margin-right: auto;
    }
    &-bottom {
      margin-bottom: auto;
    }
    &-left {
      margin-left: auto;
    }
  }
}