// pading layout
// 前缀
$padding-prefix: pd!default;
$padding-x: -x!default;
$padding-y: -y!default;
// to 不包括end
// through 包括end
@for $i from 0 through 40 {
  .#{$padding-prefix} {
    // four
    &_#{$i} {
      padding: #{$i}px;/*px*/
    } //  左右
    &#{$padding-x}_#{$i} {
      padding-left: #{$i}px;/*px*/
      padding-right: #{$i}px;/*px*/
    } // 上下
    &#{$padding-y}_#{$i} {
      padding-top: #{$i}px;/*px*/
      padding-bottom: #{$i}px;/*px*/
    } // 左
    &-left_#{$i} {
      padding-left: #{$i}px;/*px*/
    } // 右
    &-right_#{$i} {
      padding-right: #{$i}px;/*px*/
    } // 上
    &-top_#{$i} {
      padding-top: #{$i}px;/*px*/
    } // 下
    &-bottom_#{$i} {
      padding-bottom: #{$i}px;/*px*/
    }
  }
}